/* ---------- Color Module Styles ----------- */
/* line 6, ../sass/colors.scss */
body {
  color: #525252;
}

/* line 10, ../sass/colors.scss */
#header {
  background-color: #48a9e4;
}
/* line 13, ../sass/colors.scss */
#header h1, #header a {
  color: white;
}

/* line 18, ../sass/colors.scss */
a {
  color: #2683b8;
}
/* line 21, ../sass/colors.scss */
a:hover, a:focus, a:active {
  color: #00538c;
}
