#menu-bar nav.block-search {
  margin: 0px;
  margin-top: 1px !important;
  border-radius: 4px;
  background-color: #015388;
  border-left: solid 1px #000;
  border-top: solid 1px #000;
  border-bottom: solid 1px #06598D;
  border-right: solid 1px #06598D;
}

#menu-bar nav.block-search .search-form {
  margin: 0px;
}

#menu-bar nav.block-search input.form-text,
#menu-bar nav.block-search select {
  background: transparent;
  color: #fff;
  font-size: .8em;
  border: none;
  margin: 0px;
}