/**
 * @file
 * Page Styling
 */
/* line 65, ../sass/global.pages.scss */
#logo {
  padding: 10px 0;
}
/* line 68, ../sass/global.pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 82, ../sass/global.pages.scss */
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
/* line 87, ../sass/global.pages.scss */
#site-name a:hover, #site-name a:focus {
  text-decoration: underline;
}

/* line 114, ../sass/global.pages.scss */
ul.links {
  margin: 0;
  padding: 0;
}
/* line 118, ../sass/global.pages.scss */
ul.links.inline {
  display: block;
}
/* line 122, ../sass/global.pages.scss */
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/* line 131, ../sass/global.pages.scss */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

/* line 138, ../sass/global.pages.scss */
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/* line 145, ../sass/global.pages.scss */
.search-results {
  margin: 0;
}

/* line 177, ../sass/global.pages.scss */
.block-inner,
.pane-inner,
div.messages,
#branding,
#primary-nav,
#secondary-nav,
#breadcrumb,
#main-content,
#attribution,
.at-panel .rounded-corner {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 182, ../sass/global.pages.scss */
.page-panels #content {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 252, ../sass/global.pages.scss */
#header-wrapper {
  background: #ddd;
}

/* line 296, ../sass/global.pages.scss */
#footer-wrapper {
  background: #666;
  color: #fff;
}

/* line 310, ../sass/global.pages.scss */
div.messages {
  margin: 1.5em 0;
}
/* line 313, ../sass/global.pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 352, ../sass/global.pages.scss */
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: #fff;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 0;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

/* line 373, ../sass/global.pages.scss */
.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative;
}

/* line 383, ../sass/global.pages.scss */
.dev-query {
  background: #eee;
  padding: 30px;
}
