/* line 11, ../sass/global.blocks.scss */
.block {
  margin-bottom: 20px;
}

/* line 48, ../sass/global.blocks.scss */
.block-content ul,
.block-content ol {
  margin: 0 0 0 15px;
  padding: 0;
}
/* line 52, ../sass/global.blocks.scss */
.block-content li {
  margin: 0;
  padding: 0;
}
