/**
 * @file
 * Navigation Styling
 */
/* line 31, ../sass/global.nav.scss */
.nav {
  clear: both;
  margin: 0;
}
/* line 35, ../sass/global.nav.scss */
.nav ul.menu {
  margin: 0;
}
/* line 39, ../sass/global.nav.scss */
.nav li, .nav .menu li {
  display: inline;
  float: left;
  list-style: none;
}
/* line 45, ../sass/global.nav.scss */
.nav li a, .nav .menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
/* line 51, ../sass/global.nav.scss */
.nav ul {
  margin: 0;
  padding: 0;
}
/* line 55, ../sass/global.nav.scss */
.nav ul.menu {
  margin: 0;
  padding: 0;
}
/* line 59, ../sass/global.nav.scss */
.nav ul.menu li {
  margin: 0;
  padding: 0;
}
/* line 66, ../sass/global.nav.scss */
.nav .block {
  margin-bottom: 0;
}

/* line 75, ../sass/global.nav.scss */
ul.sf-menu {
  margin-bottom: 0;
}
/* line 78, ../sass/global.nav.scss */
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
/* line 92, ../sass/global.nav.scss */
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
/* line 100, ../sass/global.nav.scss */
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

/* line 112, ../sass/global.nav.scss */
.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 116, ../sass/global.nav.scss */
.block-superfish ul ul {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 120, ../sass/global.nav.scss */
.block-superfish ul ul ul {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 124, ../sass/global.nav.scss */
.block-superfish ul ul ul ul {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 132, ../sass/global.nav.scss */
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/* line 140, ../sass/global.nav.scss */
.sf-vertical {
  width: 100%;
}
/* line 143, ../sass/global.nav.scss */
.sf-vertical li {
  width: 100%;
}
/* line 149, ../sass/global.nav.scss */
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  /* match ul width */
  top: 0;
  margin: 0;
  padding: 0;
}
/* line 157, ../sass/global.nav.scss */
.sf-vertical li a {
  padding: 0 10px;
}

/* line 165, ../sass/global.nav.scss */
.sf-navbar {
  padding-bottom: 0 !important;
}

/* line 172, ../sass/global.nav.scss */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* line 181, ../sass/global.nav.scss */
ul.menu {
  margin-left: 15px;
}
/* line 184, ../sass/global.nav.scss */
ul.menu ul {
  margin-left: 15px;
}
/* line 187, ../sass/global.nav.scss */
ul.menu ul ul {
  margin-left: 15px;
}
/* line 190, ../sass/global.nav.scss */
ul.menu ul ul ul {
  margin-left: 15px;
}
/* line 196, ../sass/global.nav.scss */
ul.menu li {
  margin: 0;
}

/* line 222, ../sass/global.nav.scss */
.block .menu li.content {
  padding: 0;
}

/* line 228, ../sass/global.nav.scss */
.book-navigation .menu {
  margin-left: 0;
}

/* line 234, ../sass/global.nav.scss */
#breadcrumb {
  padding-bottom: 1em;
}
/* line 239, ../sass/global.nav.scss */
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
/* line 244, ../sass/global.nav.scss */
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
/* line 249, ../sass/global.nav.scss */
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 254, ../sass/global.nav.scss */
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
/* line 258, ../sass/global.nav.scss */
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* line 282, ../sass/global.nav.scss */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

/* line 289, ../sass/global.nav.scss */
.item-list ul.pager li {
  margin: 0;
}

/* line 294, ../sass/global.nav.scss */
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
/* line 300, ../sass/global.nav.scss */
ul.pager li.pager-current {
  font-weight: 700;
}

/* line 306, ../sass/global.nav.scss */
.block ul.pager li {
  margin: 0;
}

/* line 345, ../sass/global.nav.scss */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
/* line 354, ../sass/global.nav.scss */
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 365, ../sass/global.nav.scss */
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 377, ../sass/global.nav.scss */
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* line 385, ../sass/global.nav.scss */
#tasks {
  margin-bottom: 1em;
}

/* line 390, ../sass/global.nav.scss */
ul.primary {
  border-bottom-color: #ccc;
  margin: 1.5em 0 0;
  padding: 0 0 .2em .3em;
}
/* line 395, ../sass/global.nav.scss */
ul.primary li a {
  background-color: #f5f5f5;
  margin-right: .08em;
  border-color: #ccc;
  padding: .1em 10px .2em;
}

/* line 405, ../sass/global.nav.scss */
.local-tasks ul.primary li a:hover {
  background-color: #f7f7f7;
  border-color: #ddd;
}
/* line 410, ../sass/global.nav.scss */
.local-tasks ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

/* line 417, ../sass/global.nav.scss */
ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
/* line 422, ../sass/global.nav.scss */
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}
/* line 429, ../sass/global.nav.scss */
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* line 438, ../sass/global.nav.scss */
ul.action-links {
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

/* line 448, ../sass/global.nav.scss */
#admin-menu {
  margin: 0;
  padding: 0;
}
