/* line 10, ../sass/global.comments.scss */
#comments {
  margin: 1.5em 0;
}

/* line 29, ../sass/global.comments.scss */
.comment {
  margin-bottom: 20px;
}

/* line 80, ../sass/global.comments.scss */
.comment-preview {
  background-color: #ffffea;
}

/* line 119, ../sass/global.comments.scss */
.new {
  color: #c00;
}
