/* line 81, ../sass/global.base.scss */
html {
  line-height: 1.5;
  height: 100%;
  overflow-y: scroll;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 81.3%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 93, ../sass/global.base.scss */
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 107, ../sass/global.base.scss */
h1, h2, h3, h4, h5, h6,
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img,
em, dfn, del, ins,
a, tbody, tfoot, thead, tr,
ul, li,
label, legend,
figure, figcaption {
  margin: 0;
  padding: 0;
}

/* line 124, ../sass/global.base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 138, ../sass/global.base.scss */
img,
a img {
  border: 0;
}

/* line 143, ../sass/global.base.scss */
p {
  margin: 0 0 1.5em;
  padding: 0;
}

/* line 150, ../sass/global.base.scss */
em,
dfn {
  font-style: italic;
}

/* line 155, ../sass/global.base.scss */
ins {
  border-bottom: none;
  text-decoration: none;
}

/* line 166, ../sass/global.base.scss */
pre,
code,
tt,
samp,
kbd,
var {
  font-size: 1em;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif;
}

/* line 173, ../sass/global.base.scss */
blockquote,
q {
  font-style: italic;
  quotes: "" "";
}
/* line 176, ../sass/global.base.scss */
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
}

/* line 182, ../sass/global.base.scss */
blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 40px;
}
/* line 186, ../sass/global.base.scss */
blockquote p {
  margin: 0;
}

/* line 195, ../sass/global.base.scss */
strong,
dfn,
caption,
th {
  font-weight: 700;
}

/* line 201, ../sass/global.base.scss */
ul,
ol {
  margin: 0 0 1.5em 40px;
  padding: 0;
}

/* line 209, ../sass/global.base.scss */
.item-list ul, .item-list ol {
  margin: 0 0 0 15px;
  padding: 0;
}
/* line 214, ../sass/global.base.scss */
.item-list ul li {
  margin: 0;
  padding: 0;
}

/* line 224, ../sass/global.base.scss */
ul ul, .block ul ul, .item-list ul ul, ul ol, .block ul ol, .item-list ul ol, ol ul, .block ol ul, .item-list ol ul, ol ol, .block ol ol, .item-list ol ol {
  margin-bottom: 0;
}

/* line 231, ../sass/global.base.scss */
ul {
  list-style-type: disc;
}
/* line 234, ../sass/global.base.scss */
ul ul ul {
  list-style-type: square;
}

/* line 240, ../sass/global.base.scss */
ol {
  list-style-type: decimal;
}
/* line 243, ../sass/global.base.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 247, ../sass/global.base.scss */
ol ol ol {
  list-style-type: lower-roman;
}

/* line 254, ../sass/global.base.scss */
ul ul {
  list-style-type: circle;
}
/* line 257, ../sass/global.base.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 263, ../sass/global.base.scss */
dt {
  font-weight: 700;
}

/* line 268, ../sass/global.base.scss */
dd {
  margin: 0 0 1.5em 40px;
}

/* line 281, ../sass/global.base.scss */
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

/* line 291, ../sass/global.base.scss */
embed,
object,
video {
  max-width: 100%;
}

/* line 301, ../sass/global.base.scss */
.lt-ie9 img,
.lt-ie9 object,
.lt-ie9 embed,
.lt-ie9 video {
  max-width: none;
}

/* line 314, ../sass/global.base.scss */
#map img,
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img,
#locationmap_map img,
.geofieldMap img {
  max-width: none !important;
}

/* line 320, ../sass/global.base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 328, ../sass/global.base.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 336, ../sass/global.base.scss */
audio:not([controls]) {
  display: none;
}

/* line 349, ../sass/global.base.scss */
header[role=banner],
.content-inner,
.nav,
.region-sidebar-first,
.region-sidebar-second,
.region-secondary-content,
.region-tertiary-content,
.region-footer {
  overflow: visible;
  word-wrap: break-word;
}

/* line 356, ../sass/global.base.scss */
.element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* line 369, ../sass/global.base.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

/* line 378, ../sass/global.base.scss */
.offscreen {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

/* line 387, ../sass/global.base.scss */
.element-hidden {
  display: none;
}
