/* line 10, ../sass/global.forms.scss */
.form-item {
  margin: 18px 0;
}
/* line 14, ../sass/global.forms.scss */
.form-item label {
  display: block;
  font-weight: bold;
}
/* line 19, ../sass/global.forms.scss */
.form-item label.option {
  display: inline;
  font-weight: normal;
}

/* line 28, ../sass/global.forms.scss */
.form-required {
  color: #c00;
}

/* line 34, ../sass/global.forms.scss */
.form-item .description {
  font-size: 0.8em;
  color: #555;
}

/* line 41, ../sass/global.forms.scss */
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}

/* line 48, ../sass/global.forms.scss */
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0;
}

/* line 63, ../sass/global.forms.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/* line 69, ../sass/global.forms.scss */
fieldset {
  background: transparent;
  border: 1px solid #dadada;
  margin: 10px 0;
  padding: 10px;
}
/* line 75, ../sass/global.forms.scss */
fieldset fieldset:last-child {
  margin-bottom: 0;
}

/* line 82, ../sass/global.forms.scss */
legend,
fieldset legend {
  border: 0;
  display: block;
  font-weight: 400;
  padding: 0 10px 0 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 92, ../sass/global.forms.scss */
html.js fieldset.collapsed {
  background: transparent;
  padding-top: 5px;
}

/* line 99, ../sass/global.forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 105, ../sass/global.forms.scss */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 112, ../sass/global.forms.scss */
button[disabled] {
  cursor: default;
}

/* line 118, ../sass/global.forms.scss */
input {
  margin: 0;
}
/* line 121, ../sass/global.forms.scss */
input .form-text {
  max-width: 100%;
}
/* line 125, ../sass/global.forms.scss */
input[disabled] {
  cursor: default;
}
/* line 130, ../sass/global.forms.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
/* line 139, ../sass/global.forms.scss */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 150, ../sass/global.forms.scss */
input.form-text,
textarea,
select {
  border: 1px solid #ccc;
  height: auto;
  padding: 1px 2px;
  font-family: inherit;
  font-size: 1em;
}

/* line 160, ../sass/global.forms.scss */
html.js input.form-autocomplete {
  background-position: 100% 5px;
}

/* line 165, ../sass/global.forms.scss */
html.js input.throbbing {
  background-position: 100% -15px;
}

/* line 171, ../sass/global.forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 177, ../sass/global.forms.scss */
div.resizable-textarea textarea {
  margin-top: 0;
}

/* line 183, ../sass/global.forms.scss */
[hidden] {
  display: none;
}

/* line 192, ../sass/global.forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #ed541d;
}

/* line 198, ../sass/global.forms.scss */
.vertical-tabs ul.vertical-tabs-list li.vertical-tab-button-error a {
  color: #8c2e0b;
  background: #fef5f1;
  outline: 1px solid #ed541d;
  margin-right: 1px;
}

/* line 207, ../sass/global.forms.scss */
.tips {
  font-size: .857em;
  margin: 0 0 0 15px;
  padding: 0;
}

/* line 214, ../sass/global.forms.scss */
.field-type-text-long fieldset {
  padding: 10px 0;
}
/* line 216, ../sass/global.forms.scss */
.field-type-text-long fieldset .form-item {
  margin: 0;
  padding: 0 0 0 15px;
}

/* line 223, ../sass/global.forms.scss */
fieldset .filter-help {
  padding: 0 15px 5px;
}

/* line 228, ../sass/global.forms.scss */
.filter-guidelines {
  font-size: .923em;
  margin: 0;
  padding: 5px 18px 10px;
}

/* line 237, ../sass/global.forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* line 246, ../sass/global.forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
}
/* line 249, ../sass/global.forms.scss */
#user-login-form ul {
  margin: 0;
  padding: 0;
}

/* line 262, ../sass/global.forms.scss */
#user-login ul {
  margin: 0 0 5px;
}
/* line 265, ../sass/global.forms.scss */
#user-login ul li {
  margin: 0;
}

/* line 273, ../sass/global.forms.scss */
#user-login-form .item-list li {
  list-style: none;
  margin: 0;
}
/* line 278, ../sass/global.forms.scss */
#user-login-form li.openid-link {
  background: none;
}

/* line 284, ../sass/global.forms.scss */
#user-login li.openid-link {
  background: none;
}

/* line 297, ../sass/global.forms.scss */
#user-login-form ul {
  margin-bottom: 0;
}

/* line 313, ../sass/global.forms.scss */
html.js #user-login-form li.openid-link {
  cursor: pointer;
}

/* line 321, ../sass/global.forms.scss */
#user-login-form li.openid-link, #user-login-form li.user-link {
  cursor: pointer;
}

/* line 335, ../sass/global.forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 343, ../sass/global.forms.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 348, ../sass/global.forms.scss */
.panel-pane #search-block-form {
  margin-bottom: 20px;
}

/* line 357, ../sass/global.forms.scss */
fieldset#edit-advanced fieldset {
  float: left;
  margin: 0 10px 10px 0;
}
/* line 361, ../sass/global.forms.scss */
fieldset#edit-advanced fieldset .fieldset-legend {
  background: none;
  padding-left: 1em;
}

/* line 368, ../sass/global.forms.scss */
.advanced-search-submit {
  clear: both;
}

/* line 373, ../sass/global.forms.scss */
.search-advanced .criterion {
  float: none;
  margin: 0 5px;
}

/* line 379, ../sass/global.forms.scss */
#edit-keywords-fieldset .form-item:first-child {
  margin-top: 5px;
}

/* line 384, ../sass/global.forms.scss */
#search-form {
  margin: 10px 0;
}

/* line 398, ../sass/global.forms.scss */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
/* line 404, ../sass/global.forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 408, ../sass/global.forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 412, ../sass/global.forms.scss */
form table .item-list ul {
  margin: 0;
}

/* line 423, ../sass/global.forms.scss */
.lt-ie8 tr.even th,
.lt-ie8 tr.even td, .lt-ie8 tr.odd th, .lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc;
}

/* line 432, ../sass/global.forms.scss */
#devel-switch-user-form {
  margin-bottom: 0;
}
