/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */
/* =============================================================================
 *   Base
 * ========================================================================== */
/* 
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */
/* line 41, ../sass/global.styles.scss */
html {
  background: #e6e6e6;
}

/* line 45, ../sass/global.styles.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  color: #333333;
}

/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
/* line 56, ../sass/global.styles.scss */
h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  text-shadow: black 1px 1px 4px;
}
/* line 63, ../sass/global.styles.scss */
h1 a {
  color: white;
}
/* line 66, ../sass/global.styles.scss */
h1 a :hover {
  text-decoration: none;
}

/* line 73, ../sass/global.styles.scss */
h2 {
  color: #336699;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
}

/* line 81, ../sass/global.styles.scss */
h3 {
  color: #2783b9;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}
/* line 87, ../sass/global.styles.scss */
.sidebar h3 {
  color: #333333;
}

/* line 169, ../sass/global.styles.scss */
pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif;
}

/* =============================================================================
 *   Wrappers
 * ========================================================================== */
/*
 * Page wrapper, includes the .container class which sets the overall page or section width
 * Main wrapper in page.tpl.php, the .container class sets the width of the page, do not add width to it!
 */
/* line 182, ../sass/global.styles.scss */
#page {
  margin-top: -92px;
}

/*
 * Wraps all header elements - branding and .region-header
 */
/* line 191, ../sass/global.styles.scss */
#header {
  height: 95px;
  color: white;
}
/* line 195, ../sass/global.styles.scss */
#header a {
  color: white;
}

/* line 200, ../sass/global.styles.scss */
.header-color-row-one {
  height: 64px;
  background-color: #336699;
  border-top: 4px solid black;
}
/* line 205, ../sass/global.styles.scss */
.boxshadow .header-color-row-one {
  -webkit-box-shadow: #336699 0px -1px 0px;
  -moz-box-shadow: #336699 0px -1px 0px;
  box-shadow: #336699 0px -1px 0px;
  margin-top: 1px;
}

/* line 211, ../sass/global.styles.scss */
.header-color-row-two {
  background-color: #2783b9;
  height: 26px;
  border-top: 1px solid #3d9dd6;
  border-bottom: 1px solid #1e658f;
}

/*
 * Wraps the sidebars the content column
 */
/*
 * Main content column wrapper
 */
/*
 * Wraps the main-content-header, the content region and feed-icons. Use this wrapper to style the entire main content column
 */
/*
 * Wraps the content region, avoid applying styles to this wrapper, its used mainly for position and invisible gutters and can be problematic to style
 */
/*
 * Footer wrapper
 */
/*
 * Panels may need additional margin wrangling when in the $content region
 */
/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width of the contained element - you
 * can style this but never add any width/margin/padding/borders etc to .container
 */
/*
 * Wraps #page
 */
/*
 * Wraps the leaderboard
 */
/*
 * Wraps the header
 */
/* line 282, ../sass/global.styles.scss */
#header-wrapper {
  /* Debug styles, is this working */
  background: rgba(255, 192, 203, 0.5);
}

/*
 * Wraps the nav elements
 */
/*
 * Wraps breadcrumb
 */
/*
 * Wraps messages and help
 */
/*
 * Wraps the secondary content/preface region
 */
/*
 * Wraps the main content column
 */
/*
 * Wraps the tertiary content/postfix region
 */
/*
 * Footer wrapper
 */
/* line 340, ../sass/global.styles.scss */
#footer-wrapper {
  /* Debug styles, is this working? */
  background: rgba(255, 192, 203, 0.5);
}

/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
/* line 355, ../sass/global.styles.scss */
#branding {
  display: inline-block;
}

/*
 * Logo
 */
/* line 363, ../sass/global.styles.scss */
#logo {
  display: inline-block;
  padding: 0 10px 0 0;
}
/* line 367, ../sass/global.styles.scss */
#logo img {
  vertical-align: bottom;
}

/*
 * Wrapper for the site name and slogan (hgroup)
 */
/* line 376, ../sass/global.styles.scss */
#name-and-slogan {
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
}

/*
 * Site name (h1)
 */
/* line 386, ../sass/global.styles.scss */
#site-name {
  margin: 0;
}
/* line 392, ../sass/global.styles.scss */
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
/* line 397, ../sass/global.styles.scss */
#site-name a:hover, #site-name a:focus {
  text-decoration: none;
}

/*
 * Site slogan (h2)
 */
/* line 407, ../sass/global.styles.scss */
#site-slogan {
  margin: 0;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */
/*
 * Main content header wraps the page title, tabs and actions links
 */
/*
 * The main page title (h1)
 */
/* line 425, ../sass/global.styles.scss */
#page-title {
  margin: 0;
}

/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */
/*
 * Feed icons
 */
/*
 * Aggregator feed source
 */
/* line 443, ../sass/global.styles.scss */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

/* line 451, ../sass/global.styles.scss */
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for the more link
 */
/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
/* line 466, ../sass/global.styles.scss */
ul.links {
  margin: 0;
  padding: 0;
}
/* line 470, ../sass/global.styles.scss */
ul.links.inline {
  display: block;
}
/* line 474, ../sass/global.styles.scss */
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
/* line 485, ../sass/global.styles.scss */
.search-results {
  margin: 0;
}

/* =============================================================================
 *   Regions
 * ========================================================================== */
/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
/*
 * Regions can be nested, such as when using Panels
 */
/*
 * Header region, embedded in the #header
 */
/* line 515, ../sass/global.styles.scss */
.region-header {
  display: inline-block;
}

/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
/*
 * Secondary content
 */
/*
 * Sits above the main content header, like a content-top region
 */
/*
 * Sits below the main content, like a content-bottom region
 */
/*
 * Sidebars - targets both
 */
/*
 * First sidebar
 */
/*
 * Second sidebar
 */
/*
 * Tertiary content
 */
/*
 * Footer region
 */
/* =============================================================================
 *   Links
 * ========================================================================== */
/* line 578, ../sass/global.styles.scss */
a {
  text-decoration: none;
  color: #2783b9;
}
/* line 589, ../sass/global.styles.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
/* line 599, ../sass/global.styles.scss */
#primary-menu-bar {
  display: inline-block;
}

/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */
/* line 611, ../sass/global.styles.scss */
.nav {
  clear: both;
  margin: 10px 0;
}
/* line 616, ../sass/global.styles.scss */
.nav ul,
.nav ul.menu {
  margin: 0;
  padding: 0;
}
/* line 622, ../sass/global.styles.scss */
.nav li,
.nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 631, ../sass/global.styles.scss */
.nav li a,
.nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
/* line 642, ../sass/global.styles.scss */
.nav .block {
  margin-bottom: 0;
}

/* =============================================================================
 *   Superfish
 * ========================================================================== */
/* line 652, ../sass/global.styles.scss */
ul.sf-menu {
  margin-bottom: 0;
}
/* line 655, ../sass/global.styles.scss */
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
/* line 669, ../sass/global.styles.scss */
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
/* line 677, ../sass/global.styles.scss */
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

/*
 * Superfish blocks
 */
/* line 691, ../sass/global.styles.scss */
.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 702, ../sass/global.styles.scss */
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Vertical style
 */
/* line 712, ../sass/global.styles.scss */
.sf-vertical {
  width: 100%;
}
/* line 715, ../sass/global.styles.scss */
.sf-vertical li {
  width: 100%;
}
/* line 721, ../sass/global.styles.scss */
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
/* line 728, ../sass/global.styles.scss */
.sf-vertical li a {
  padding: 0 10px;
}

/*
 * Navbar style
 */
/* line 738, ../sass/global.styles.scss */
.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */
/* line 746, ../sass/global.styles.scss */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}

/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */
/* line 755, ../sass/global.styles.scss */
ul.menu {
  padding-left: 15px;
}
/* line 758, ../sass/global.styles.scss */
ul.menu ul {
  padding-left: 15px;
}
/* line 766, ../sass/global.styles.scss */
ul.menu li {
  margin: 0;
}

/* If li.content exists it's a problem, so reset the padding */
/* line 795, ../sass/global.styles.scss */
.block .menu li.content {
  padding: 0;
}

/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */
/* line 812, ../sass/global.styles.scss */
.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}
/* line 818, ../sass/global.styles.scss */
.book-navigation .menu {
  margin-left: 0;
}

/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */
/* line 828, ../sass/global.styles.scss */
#breadcrumb {
  margin: 10px 0;
  /* If the label is set to show in theme settings the label class is added */
}
/* line 832, ../sass/global.styles.scss */
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
/* line 837, ../sass/global.styles.scss */
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
/* line 842, ../sass/global.styles.scss */
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 847, ../sass/global.styles.scss */
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
/* line 851, ../sass/global.styles.scss */
#breadcrumb li {
  list-style: none;
  display: inline;
}

/* =============================================================================
 *   Pagers
 * ========================================================================== */
/* line 878, ../sass/global.styles.scss */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

/* line 885, ../sass/global.styles.scss */
.item-list ul.pager li {
  margin: 0;
}

/* line 890, ../sass/global.styles.scss */
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
/* line 896, ../sass/global.styles.scss */
ul.pager li.pager-current {
  font-weight: 700;
}

/* line 902, ../sass/global.styles.scss */
.block ul.pager li {
  margin: 0;
}

/*
 * Theme the various states of pager links
 */
/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */
/* line 939, ../sass/global.styles.scss */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
/* line 948, ../sass/global.styles.scss */
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #e6e6e6;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 959, ../sass/global.styles.scss */
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #e6e6e6;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
/* line 971, ../sass/global.styles.scss */
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */
/* line 982, ../sass/global.styles.scss */
#tasks {
  margin-bottom: 15px;
}

/* line 987, ../sass/global.styles.scss */
ul.primary {
  border-bottom-color: #cccccc;
  margin: 20px 0;
  padding: 0 0 0 5px;
}
/* line 992, ../sass/global.styles.scss */
ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}
/* line 997, ../sass/global.styles.scss */
ul.primary li a {
  background-color: #f5f5f5;
  border-color: #cccccc;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}
/* line 1008, ../sass/global.styles.scss */
ul.primary li a:hover, ul.primary li a:focus {
  background-color: #eeeeee;
  border-color: #cccccc;
}
/* line 1018, ../sass/global.styles.scss */
ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: #e6e6e6;
  border-bottom-color: #e6e6e6;
}

/* line 1026, ../sass/global.styles.scss */
ul.secondary {
  border-bottom: 1px solid #cccccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
/* line 1031, ../sass/global.styles.scss */
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}
/* line 1038, ../sass/global.styles.scss */
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/* =============================================================================
 *   Action links
 * ========================================================================== */
/* line 1051, ../sass/global.styles.scss */
ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}

/* =============================================================================
 *  Field Styling
 * ========================================================================== */
/*
 * Wrapper for any field
 */
/*
 * Above and inline classes are on the field wrapper
 */
/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
/* line 1084, ../sass/global.styles.scss */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

/*
 * Field types (Core)
 */
/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
/*
 * Taxonomy
 */
/* line 1113, ../sass/global.styles.scss */
.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;
}
/* line 1118, ../sass/global.styles.scss */
.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}
/* line 1123, ../sass/global.styles.scss */
.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Text
 */
/*
 * Long text
 */
/*
 * Text with summary
 */
/*
 * File
 */
/*
 * Number/Integer
 */
/*
 * Decimal
 */
/*
 * Number float
 */
/*
 * List
 */
/*
 * List boolean
 */
/*
 * List integer
 */
/*
 * List float
 */
/*
 * Field types (Contrib)
 */
/*
 * Named fields
 */
/*
 * Underscores in field name are replaced with dashes
 */
/*
 * Image Alignment Theme Settings - included here so you can easily override 
 */
/*
 * Float none setting
 */
/*
 * Float left setting
 */
/* line 1238, ../sass/global.styles.scss */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */
/* line 1247, ../sass/global.styles.scss */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */
/* line 1256, ../sass/global.styles.scss */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */
/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
/* line 1269, ../sass/global.styles.scss */
.block {
  margin-bottom: 20px;
}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
/*
 * The first block in the region
 */
/*
 * The last block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Zebra striping for each block in the region
 */
/*
 * Block title
 */
/* line 1307, ../sass/global.styles.scss */
.block-title {
  margin: 0;
}

/*
 * Block content wrapper
 */
/*
 * Match item list and block menu margin and padding
 */
/* line 1324, ../sass/global.styles.scss */
.block-content ul,
.block-content ol {
  padding: 0 0 0 15px;
}
/* line 1328, ../sass/global.styles.scss */
.block-content li {
  margin: 0;
  padding: 0;
}

/*
 * Block for the latest news items in the first category
 */
/*
 * Block for the latest news items in the first feed
 */
/*
 * First block created with "Add block" link
 */
/*
 * "Recent blog posts" block
 */
/*
 * "Book navigation" block for the current book's table of contents
 */
/*
 * "Recent comments" block
 */
/*
 * "Active forum topics" block
 */
/*
 * "New forum topics" block
 */
/*
 * Language switcher block
 */
/*
 * Custom menu block
 */
/*
 * "Recent content" block
 */
/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
/*
 * "Most recent poll" block
 */
/*
 * "Author information" block for the profile of the page's author
 */
/*
 * "Search form" block
 */
/*
 * "Shortcuts" block
 */
/*
 * "Popular content" block
 */
/*
 * "Main menu" block
 */
/*
 * "Management" block for Drupal management menu
 */
/*
 * "Navigation" block for Drupal navigation menu
 */
/*
 * "User menu" block for Drupal user menu
 */
/*
 * "System help" block
 */
/*
 * "Main page content" block
 */
/*
 * "Powered by Drupal" block
 */
/*
 * "User login form" block
 */
/*
 * "Who's new" block for a list of the newest users
 */
/*
 * "Who's online" block for a list of the online users
 */
/* =============================================================================
 *   Node Styling
 * ========================================================================== */
/* line 1501, ../sass/global.styles.scss */
.node {
  margin-bottom: 20px;
}
/* line 1518, ../sass/global.styles.scss */
.node .node-title {
  margin: 0;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */
/*
 * Wrapper for the list of comments and its titles
 */
/* line 1576, ../sass/global.styles.scss */
#comments {
  margin: 1.5em 0;
}
/* line 1580, ../sass/global.styles.scss */
#comments h2.comment-title {
  margin: 0;
}
/* line 1584, ../sass/global.styles.scss */
#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
/* line 1594, ../sass/global.styles.scss */
.comment {
  margin-bottom: 20px;
}

/*
 * Comment title
 */
/* line 1625, ../sass/global.styles.scss */
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
/*
 * Preview of the comment before submitting new or updated comment
 */
/*
 * "New" marker for comments that are new for the current user
 */
/* line 1657, ../sass/global.styles.scss */
.new {
  color: #cc0000;
}

/*
 * Nested comments are indented
 */
/* line 1665, ../sass/global.styles.scss */
.indented {
  margin-left: 40px;
}

/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */
/* line 1681, ../sass/global.styles.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #cc0000;
}
/* line 1685, ../sass/global.styles.scss */
.form-item label {
  font-weight: 700;
}
/* line 1692, ../sass/global.styles.scss */
.form-item .description {
  font-size: 0.85em;
}

/*
 * Highlight marks and form required mark
 */
/* line 1706, ../sass/global.styles.scss */
.marker,
.form-required {
  color: #cc0000;
}

/*
 * The submit button
 */
/* line 1720, ../sass/global.styles.scss */
.container-inline div,
.container-inline label {
  display: inline;
}

/*
 * Define consistent borders
 */
/* line 1728, ../sass/global.styles.scss */
fieldset {
  border: 1px solid #cccccc;
}

/*
 * Tips for Drupal's input formats
 */
/*
 * Buttons used by contrib modules like Media
 */
/* line 1742, ../sass/global.styles.scss */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 1751, ../sass/global.styles.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* =============================================================================
 *   Tables
 * ========================================================================== */
/* line 1760, ../sass/global.styles.scss */
table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
/* line 1765, ../sass/global.styles.scss */
table.sticky-header {
  z-index: 10;
}

/* line 1776, ../sass/global.styles.scss */
table,
thead,
tbody,
tr,
th,
td {
  border-color: #cccccc;
}

/* line 1783, ../sass/global.styles.scss */
table,
td,
th {
  vertical-align: middle;
}

/* line 1790, ../sass/global.styles.scss */
caption,
th,
td {
  text-align: left;
}

/* line 1795, ../sass/global.styles.scss */
thead tr {
  font-weight: 700;
  background-color: #e5e5e5;
}

/* line 1802, ../sass/global.styles.scss */
td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

/* line 1812, ../sass/global.styles.scss */
tbody tr {
  border-top: 1px solid #cccccc;
}

/* line 1817, ../sass/global.styles.scss */
tr {
  /* Table row striping */
}
/* line 1819, ../sass/global.styles.scss */
tr.odd {
  background: #e6e6e6;
}
/* line 1826, ../sass/global.styles.scss */
tr.info, tr.even, tr:nth-child(2n+2) {
  border-bottom: 0;
  background-color: #f5f5f5;
}
/* line 1835, ../sass/global.styles.scss */
tr.odd td.active {
  background-color: #eeeeee;
}
/* line 1839, ../sass/global.styles.scss */
tr.even td.active {
  background-color: #ebebeb;
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
/* line 1867, ../sass/global.styles.scss */
#forum td .created,
#forum td .posts,
#forum td .topics,
#forum td .last-reply,
#forum td .replies,
#forum td .pager {
  white-space: normal;
}

/* =============================================================================
 *   Messages
 * ========================================================================== */
/* line 1878, ../sass/global.styles.scss */
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 1883, ../sass/global.styles.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/*
 * Unpublished nodes
 */
/* line 1924, ../sass/global.styles.scss */
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}
/* line 195, ../sass/_custom.scss */
.ie6-7 .node-unpublished p.unpublished > *, .ie6-7
.comment-unpublished p.unpublished > * {
  position: relative;
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */
/* line 1935, ../sass/global.styles.scss */
.maintenance-page .container {
  padding: 40px 0;
}
/* line 1940, ../sass/global.styles.scss */
.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

/* line 1947, ../sass/global.styles.scss */
.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}
/* line 1954, ../sass/global.styles.scss */
.db-offline div.messages {
  margin: 20px 0 0;
}
/* line 1958, ../sass/global.styles.scss */
.db-offline #content {
  padding: 20px 0;
}

/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */
/*
 * Admin menu overrides
 */
/* line 1971, ../sass/global.styles.scss */
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
/* line 1980, ../sass/global.styles.scss */
.dev-query {
  background: #eeeeee;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */
/* line 1989, ../sass/global.styles.scss */
#styleguide-header {
  padding: 0 10px;
}
/* line 1992, ../sass/global.styles.scss */
#styleguide-header .item-list {
  font-family: inherit;
  margin: 0 20px 20px 0;
  min-height: 260px;
  width: auto;
}
