/*
 * Target IE 6, 7 and 8 (less than IE9)
 */
/*
 * Assuming a mobile first approach with respond.js OFF, we must reset the font
 * size for lt IE9
 */
html {
  font-size: 81.3%;
}

body.front.not-logged-in #content {
  background: url('../images/commons-drop.png?1363371593') right top no-repeat;
}
body.front.not-logged-in .region-three-33-top {
  margin-bottom: 24px;
  min-height: 300px;
}
body.front.not-logged-in #block-system-main .pane-1 {
  float: left;
  width: 56%;
}
body.front.not-logged-in #block-system-main .pane-2 {
  float: right;
  width: 40%;
}
