/*
 * @file
 * Print Styles
 * This probably needs work, but it's a good starting point.
 */
/*
 * Body
 */
/* line 14, ../sass/print.scss */
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4;
  word-spacing: 1.1pt;
  letter-spacing: 0.2pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 11pt;
}

/*
 * Links
 */
/* line 31, ../sass/print.scss */
a {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #0000ee;
}
/* line 39, ../sass/print.scss */
a[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: "(" attr(href) ")";
  font-size: 10pt;
}

/*
 * Strip background from likely candidates
 */
/* line 74, ../sass/print.scss */
div[id*="wrapper"],
[class*="title"],
[class*="inner"],
header,
footer,
#branding,
#container,
#columns,
.columns-inner,
#content-column,
.content-inner,
.region,
.region-header,
.region-content,
.article,
.article-title,
.article-content,
.comment,
.comment-title,
.comment-content,
.block,
.block-inner,
.block-title,
.block-content,
table,
table * {
  background: none !important;
}

/*
 * Hide various bits of the page
 */
/* line 97, ../sass/print.scss */
.sidebar,
#breadcrumb,
.nav,
.field-type-taxonomy-term-reference,
ul.links,
.feed-icon,
.poll .bar,
.poll .foreground,
.comment-form,
#comment-form,
.book-navigation,
.tabs,
.action-links,
.pager,
.messages,
.help {
  display: none;
}

/*
 * Ensure the display the main content region
 */
/* line 105, ../sass/print.scss */
#content {
  display: block !important;
}

/*
 * Layout
 */
/* line 113, ../sass/print.scss */
#header {
  margin-bottom: 20px;
}

/* line 118, ../sass/print.scss */
.content-inner {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * HTML elements
 */
/* line 132, ../sass/print.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* line 140, ../sass/print.scss */
h1 {
  font-size: 14pt;
}

/* line 145, ../sass/print.scss */
h2 {
  font-size: 13pt;
}

/* line 150, ../sass/print.scss */
h3 {
  font-size: 12pt;
}

/* line 157, ../sass/print.scss */
h4,
h5,
h6 {
  font-size: 11pt;
}

/* line 168, ../sass/print.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
#site-name a,
#site-slogan {
  text-decoration: none !important;
  color: #333333;
}

/* line 176, ../sass/print.scss */
hgroup a:link, hgroup a:visited {
  text-decoration: none;
}

/* line 182, ../sass/print.scss */
#page-title {
  margin-top: 20px;
}

/* line 192, ../sass/print.scss */
pre,
code,
tt,
samp,
kbd,
var {
  font-size: 10pt;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif;
}

/* line 198, ../sass/print.scss */
blockquote {
  margin: 20px;
  padding: 10px;
  font-size: 10pt;
  font-style: italic;
  background: #eeeeee;
}

/* line 207, ../sass/print.scss */
hr {
  background-color: #666666;
}

/*
 * Header, Logo, Site name
 */
/* line 215, ../sass/print.scss */
#header {
  padding-bottom: 20px;
}

/* line 220, ../sass/print.scss */
#logo img {
  padding: 0 10px 0 0;
  margin: 0 !important;
  float: none !important;
}

/*
 * Images
 */
/* line 230, ../sass/print.scss */
img {
  float: left;
  margin: 4px 20px 10px 0;
  page-break-inside: avoid;
}

/* line 237, ../sass/print.scss */
a img {
  border: none;
}

/*
 * Tables
 */
/* line 245, ../sass/print.scss */
table {
  margin: 1px;
  text-align: left;
}

/* line 251, ../sass/print.scss */
th {
  border-bottom: 1px solid #333333;
  font-weight: 700;
}

/* line 257, ../sass/print.scss */
td {
  border-bottom: 1px solid #333333;
}

/* line 263, ../sass/print.scss */
th,
td {
  padding: 4px 10px 4px 0;
}

/* line 268, ../sass/print.scss */
tfoot {
  font-style: italic;
}

/* line 273, ../sass/print.scss */
caption {
  margin-bottom: 10px;
  text-align: left;
}

/* line 279, ../sass/print.scss */
thead {
  display: table-header-group;
}

/* line 284, ../sass/print.scss */
tr {
  page-break-inside: avoid;
}

/*
 * Forms
 */
/* line 292, ../sass/print.scss */
form {
  margin-bottom: 10px;
}

/*
 * Poll module
 */
/* line 302, ../sass/print.scss */
.poll .text,
.poll .percent,
.poll .total {
  text-align: left;
}
/* line 305, ../sass/print.scss */
.poll form {
  margin-bottom: 0;
}

/*
 * Articles
 */
/* line 315, ../sass/print.scss */
.node,
.comment {
  margin-bottom: 20px;
  overflow: hidden;
  page-break-inside: avoid;
}

/* line 321, ../sass/print.scss */
.submitted {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
/* line 329, ../sass/print.scss */
.submitted a {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
