/* line 86, ../sass/_custom.scss */
.divider-left {
  border-left: 1px solid #4082A7;
  -webkit-box-shadow: #0f4363 -1px 0px 0px;
  -moz-box-shadow: #0f4363 -1px 0px 0px;
  box-shadow: #0f4363 -1px 0px 0px;
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small devices */
/* line 16, ../sass/responsive.smartphone.portrait.scss */
html {
  font-size: 112.5%;
}
