/* $Id: sixcol_6x16.css,v 1.1.2.2 2009/10/26 00:24:22 jmburnz Exp $ */
/* adaptivethemes.com */

.at-panel div.block,.at-panel div.panel-pane{padding:0 10px;}
.at-panel{clear:both;}
.at-panel .panel-panel{display:inline;position:relative;float:left;}
.sixcol-6x16 .panel-panel{width:16.666%;}
.sixcol-6x16 .panel-col-six{width:16.333%;}