%pod {
  background-color: $white;
  @include border-radius(3px);
  @include box-shadow($light_gray 1px 1px 4px);
  margin-right: 20px;
  margin-bottom: 20px;
}

%pod-content {
  padding: 10px 10px 20px 10px;
}