%divider-left {
  border-left: 1px solid #4082A7;
  @include box-shadow(#0F4363 -1px 0px 0px);
}

%pod {
  background-color: $white;
  @include border-radius(3px);
  @include box-shadow($light_gray 1px 1px 4px);
  margin-right: 20px;
  margin-bottom: 20px;
}

%pod-content {
  padding: 10px 10px 20px 10px;
}

%btn-green {
  box-shadow: 1px 1px 1px #ABE0A2 inset, 0 3px 3px rgba(#000, 0.09);
  padding: 0 10px;
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: #6eca5d; // Old browsers
  @include filter-gradient(#6eca5d, #45bb2f, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #6eca5d 0%,#6cc95b 12%,#47bc33 33%,#45bb2f 100%));
  border: 1px solid #249125;
  @include border-radius(3px);
  color: $white;
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px rgba(#000, 0.49);

  &:hover {
    text-decoration: none;
  }
}

%btn-gray {
  // box-shadow: 1px 1px 1px #ABE0A2 inset, 0 3px 3px rgba(#000, 0.09);
  padding: 0 10px;
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: #fefefe; // Old browsers
  @include filter-gradient(#fefefe, #e8e8e8, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #fefefe 0%,#e8e8e8 100%));
  border: 1px solid #cccccc;
  @include border-radius(3px);
  color: $dark_gray;
  text-align: center;
  display: inline-block;
  // text-shadow: 1px 1px rgba(#000, 0.49);

  &:hover {
    text-decoration: none;
  }
}

%btn-gray-flat {
  padding: 0 10px;
  background-color: #f3f3f3;
  @include border-radius(3px);
  color: $dark_gray;
  text-align: center;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}
