@each $palette in $palettes {

  $palette_color_class: nth($palette, 1);
  $palette_color_light: nth($palette, 2);
  $palette_color_dark: nth($palette, 3);
  $palette_btn_top: nth($palette, 4);
  $palette_btn_bottom: nth($palette, 5);

  .#{$palette_color_class} {

    h2 {
      color: $palette_color_dark;
    }

    .header-color-row-one {
      background-color: $palette_color_dark;
      border-top: 4px solid darken($palette_color_dark, 50%);

      .boxshadow & {
        @include box-shadow($palette_color_dark 0px -1px 0px);
        margin-top: 1px;
      }
    }

    .header-color-row-two {
      background-color: $palette_color_light;
      border-top: 1px solid lighten($palette_color_light, 10%);
      border-bottom: 1px solid darken($palette_color_light, 10%);
    }

    h1.node-title {
      color: $palette_color_light;

      a {
        color: $palette_color_light;
      }
    }

    a, .commons-bw-create-all-widget-types li a {
      color: $palette_color_light;
    }

    #menu-bar.nav ul.menu li:hover .arrow:before,
    #menu-bar.nav ul.menu li.active-trail .arrow:before {
      border-color: transparent transparent lighten($palette_color_light, 10%) transparent;
    }

    #menu-bar.nav ul.menu li:hover .arrow:after,
    #menu-bar.nav ul.menu li.active-trail .arrow:after {
      border-color: transparent transparent $palette_color_light transparent;
    }

    ul.commons-utility-links li.last {
      border-left-color: $palette_color_light;
    }

    // Quicktabs buttons styles

    .quicktabs-style-commons-pills ul.quicktabs-tabs,
    ul.primary.tabs {
      li {
        a {
          &,
          span {
            color: $palette_color_light;
          }

          &:hover {
            color: darken($palette_color_light, 10%)
          }
        }

        &.active {
          a {
            &,
            span {
              color: $dark_gray;
            }
          }
        }
      }
    }

    .block-search {
      background-color: darken($palette_color_light, 12%); // Old browsers
      @include filter-gradient(darken($palette_color_light, 12%), darken($palette_color_light, 6%), vertical); // IE6-9
      @include background-image(linear-gradient(top,  darken($palette_color_light, 12%) 0%,darken($palette_color_light, 6%)100%));
    }

    .commons-bw-create-all-widget-types, li.sharethis .sharethis-wrapper {
      border-color: $palette_color_light;
    }

    li.sharethis .sharethis-wrapper:before {
      border-color: $palette_color_light transparent transparent transparent;
    }

    %divider-left {
      border-left: 1px solid lighten($palette_color_dark, 6%);
      @include box-shadow(darken($palette_color_dark, 13%) -1px 0px 0px);
    }

    %divider-right {
      border-right: 1px solid darken($palette_color_dark, 13%);
      @include box-shadow(lighten($palette_color_dark, 6%) 1px 0px 0px);
    }

    %btn-green {
      box-shadow: 1px 1px 1px $palette_btn_top inset, 0 3px 3px rgba(#000, 0.09);
      background-color: $palette_btn_top; // Old browsers
      @include filter-gradient($palette_btn_top, $palette_btn_bottom, vertical); // IE6-9
      @include background-image(linear-gradient(top,  $palette_btn_top 0%, $palette_btn_bottom 100%));
      border: 1px solid $palette_btn_bottom;
      color: $white;
    }

    .selectBox-dropdown {
      color: $palette_color_light;
    }

  }

}

//Specific overrides
.palette-black-blue-yellow {
  .block-search {
    background-color: darken($palette_black_blue_yellow_dark, 12%); // Old browsers
    @include filter-gradient(darken($palette_black_blue_yellow_dark, 12%), darken($palette_black_blue_yellow_dark, 4%), vertical); // IE6-9
    @include background-image(linear-gradient(top,  darken($palette_black_blue_yellow_dark, 12%) 0%,lighten($palette_black_blue_yellow_dark, 4%)100%));
  }
}

.palette-gray-lightgray-blue {
  h2 {
    color: #262626;
  }

  h1.node-title {
    color: #262626;

    a {
      color: #262626;
    }
  }

  a, .commons-bw-create-all-widget-types li a {
    color: $palette_gray_light_gray_blue_btn_bottom;
  }

  .block-search {
    background-color: darken($palette_gray_light_gray_blue_dark, 1%); // Old browsers
    @include filter-gradient(darken($palette_gray_light_gray_blue_dark, 1%), darken($palette_gray_light_gray_blue_dark, 10%), vertical); // IE6-9
    @include background-image(linear-gradient(top,  darken($palette_gray_light_gray_blue_dark, 1%) 0%,lighten($palette_gray_light_gray_blue_dark, 10%)100%));
  }

  .selectBox-dropdown {
    color: $palette_gray_light_gray_blue_btn_bottom;
  }
}

.palette-black-white-red {
  h2 {
    color: $palette_black_white_red_btn_bottom;
  }

  a, .commons-bw-create-all-widget-types li a {
    color: $palette_black_white_red_btn_bottom;
  }

  .selectBox-dropdown {
    color: $palette_black_white_red_btn_bottom;
  }
}

.palette-brown-burnt-orange {
  a, .commons-bw-create-all-widget-types li a {
    color: $palette_brown_burnt_orange_btn_bottom;
  }

  .selectBox-dropdown {
    color: $palette_brown_burnt_orange_btn_bottom;
  }
}

.palette-blue-blue {
  .block-search {
    background-color: darken($palette_blue_blue_light, 6%); // Old browsers
    @include filter-gradient(darken($palette_blue_blue_light, 6%), darken($palette_blue_blue_light, 3%), vertical); // IE6-9
    @include background-image(linear-gradient(top,  darken($palette_blue_blue_light, 6%) 0%,darken($palette_blue_blue_light, 3%)100%));
  }
}
