/* Dropdown control */
.selectBox-dropdown {
  min-width: 150px;
  position: relative;
  border: solid 1px #BBB;
  line-height: 1.5;
  text-decoration: none;
  text-align: left;
  color: $light_blue;
  outline: none;
  vertical-align: middle;
  background: #F2F2F2;
  background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: default;

  .block-search & {
    background: transparent;
    border: none;
    box-shadow: none;
    min-width: inherit;
    color: $white;
    line-height: 1;
    margin-top: 5px;
    margin-left: 9px;
  }

  #views-exposed-form-commons-homepage-content-panel-pane-1 &,
  #quicktabs-commons_bw &,
  .views-exposed-widgets & {
    background: $page;
    border: none;
    box-shadow: none;
    min-width: auto;
    width: auto !important;
    line-height: 1;
  }

  #quicktabs-commons_bw & {
    background: $white;
  }
}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
  border-color: #666;
}

.selectBox-dropdown.selectBox-menuShowing {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
  padding: 2px 8px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  .block-search & {
    width: auto !important;
    padding: 2px 8px 2px 0;
    // left: 8px;
    // position: relative;

    &:after {
      content: '';
      @include sprite_url_height_width($icons, 'ico_arrow_wht');
      margin-left: 5px;
    }
  }

  #views-exposed-form-commons-homepage-content-panel-pane-1 &,
  #quicktabs-commons_bw &,
  .views-exposed-widgets & {
    width: auto !important;
    padding: 2px 4px;
  }
}

.selectBox-dropdown .selectBox-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 100%;
  background: image-url('jquery.selectBox-arrow.gif') 50% center no-repeat;
  border-left: solid 1px #BBB;

  .block-search & {
    display: none;
  }

  #views-exposed-form-commons-homepage-content-panel-pane-1 &,
  #quicktabs-commons_bw &,
  .views-exposed-widgets & {
    display: none;
  }
}


/* Dropdown menu */
.selectBox-dropdown-menu {
  position: absolute;
  z-index: 99999;
  max-height: 200px;
  min-height: 1em;
  border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
  background: #FFF;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  overflow: auto;

  // #views-exposed-form-commons-homepage-content-panel-pane-1 & {
    width: auto !important;
  // }
}


/* Inline control */
.selectBox-inline {
  min-width: 150px;
  outline: none;
  border: solid 1px #BBB;
  background: #FFF;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: auto;
}

.selectBox-inline:focus {
  border-color: #666;
}


/* Options */
.selectBox-options,
.selectBox-options li,
.selectBox-options li a {
  list-style: none;
  display: block;
  cursor: default;
  padding: 0;
  margin: 0;
}

.selectBox-options li a {
  line-height: 1.5;
  padding: 0 .5em;
  white-space: nowrap;
  overflow: hidden;
  background: 6px center no-repeat;
}

.selectBox-options li.selectBox-hover a {
  background-color: #EEE;
}

.selectBox-options li.selectBox-disabled a {
  color: #888;
  background-color: transparent;
}

.selectBox-options li.selectBox-selected a {
  background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
  color: #666;
  background: #EEE;
  font-weight: bold;
  line-height: 1.5;
  padding: 0 .3em;
  white-space: nowrap;
}


/* Disabled state */
.selectBox.selectBox-disabled {
  color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
  opacity: .5;
  filter: alpha(opacity=50);
  border-color: #666;
}

.selectBox-inline.selectBox-disabled {
  color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options a {
  background-color: transparent !important;
}
