@CHARSET "UTF-8";

.hds-region-header {
  clear: both;
}

.hds-region-left {
  clear: left;
  float: left;
}

.hds-region-middle {
  clear: none;
}

.hds-region-right {
  float: right;
}

.hds-region-footer {
  clear: both;
}

/* default region dimensions */

.hds-region-left {
  width: 25%;
}

.hds-region-right {
  width: 25%;
}

/* middle region */

.hds-no-sidebars {
}

.hds-sidebar-left {
  margin-left: 25%;
  overflow: hidden;
}

.hds-sidebar-right {
  margin-right: 25%;
  overflow: hidden;
}

.hds-two-sidebars {
  margin-left: 25%;
  margin-right: 25%;
}
