.fbss-comments-comment {
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}

.fbss-comments-created,
.fbss-comments-edit-delete {
  padding-right: 1em;
  margin-top: 0.25em;
}

.fbss-comments-closure .flag-wrapper {
  margin-left: 0;
}

.fbss-comments-created {
  font-style: italic;
}

.fbss-comments-author-picture {
  float: left; /* LTR */
  margin-right: 10px;
}

.fbss-comments-form .form-submit {
  float: right;
  margin-top: 5px;
}

/* The "Show all comments" link. */
.fbss-comments-show-comments-link {
  display: block;
  padding-bottom: 0.5em;
}

/* These are "show" links that should not be visible to users with JS disabled. */
.fbss-comments-show-comment-form,
.fbss-comments-show-comment-form-inner,
.fbss-comments-show-comments {
  display: none;
}
