.fbss-comments-comment {
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}

.fbss-comments-form .form-submit {
  float: right;
}

/* The "Show all comments" link. */
.fbss-comments-show-comments-link {
  display: block;
  padding-bottom: 0.5em;
}

/* These are "show" links that should not be visible to users with JS disabled. */
.fbss-comments-show-comment-form,
.fbss-comments-show-comment-form-inner,
.fbss-comments-show-comments {
  display: none;
}
