/* $Id$ */


/* Panels */
.panel-display {
  overflow: hidden;
}

/* Sidebar last */
#sidebar-last {
  clear: left;
  float: right;
}

/* Footer */
#footer-wrapper {
  clear: both;
  position: relative;
}

/* Primary menu */
#primary-menu {
  width: 45%;
}

/* Search box */
.search-box {
  position: relative;
  width: 375px;
}

/*clearfix*/
#view-id-groups_my_groups_listing-page_1 .views-row:after,
fieldset.views-exposed-form:after,
.view-homepage-group-showcase .views-row:after,
.view-homepage-group-showcase .views-row .view-content:after,
.view-homepage-group-showcase .views-row table:after,
.page-taxonomy .node:after,
.heartbeat-message-block .beat-item:after,
.profile .userpoints:after,
.view .view-content .item-list li.views-row:after,
.shoutbox-add-form:after,
.shoutbox-admin-links:after,
.shoutbox-msg:after,
.homebox-column:after,
#content-tabs ul.primary{
	zoom:1;
}  

/*inline links*/

ul.links li,
.node .inner ul.links li,
.block .content ul.links li,
.panel-pane .inner ul.links li {
	display: block;
	float: left;
}

/* Alpha transparency png fix */
/* To use: uncomment & change path to match your Fusion Core location*/
/*
div.pngfix,
#logo img {
  behavior: url(/sites/all/themes/fusion/fusion_core/js/iepngfix.htc);
}
*/