/plugins/quicktabs_styles/commons_origins/.sass-cache/
/plugins/quicktabs_styles/commons_origins_tabs/.sass-cache/
/plugins/quicktabs_styles/commons_pills/.sass-cache/
/plugins/quicktabs_styles/commons_tabs/.sass-cache/