#edit-commons-origins-palette .form-item-commons-origins-palette {
  clear: both;
  margin-bottom: 10px;
}

#edit-commons-origins-palette .form-item-commons-origins-palette input[type="radio"] {
  float: left;
}

#edit-commons-origins-palette .form-item-commons-origins-palette label {
  margin-left: 20px;
}
