.rate-widget-commons_thumbs_up_down {
  width: 68px;
  height: 75px;
  position: relative;
}
.rate-widget-commons_thumbs_up_down ul {
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 68px;
}
.rate-widget-commons_thumbs_up_down ul li {
  margin: 0;
  list-style-type: none;
}
.rate-widget-commons_thumbs_up_down ul li .rate-button {
  display: block;
  width: 32px;
  height: 30px;
  background-image: url('images/updown.png?1361226127');
  text-indent: -9999px;
}
.rate-widget-commons_thumbs_up_down ul li .rate-number-up-down-btn-up {
  background-position: left top;
  float: left;
}
.rate-widget-commons_thumbs_up_down ul li .rate-number-up-down-btn-down {
  background-position: right top;
  float: right;
}
.rate-widget-commons_thumbs_up_down ul li span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.rate-widget-commons_thumbs_up_down .rate-info {
  position: absolute;
  top: 0;
  width: 52px;
  height: 36px;
  padding: 4px 8px;
  background: url('images/bkg_updown.png?1361226127');
  text-align: center;
}
.rate-widget-commons_thumbs_up_down .rate-info-value {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
}
