/**
 * $Id: dark.css,v 1.1.2.4 2009/12/05 21:03:01 jmburnz Exp $
 * adaptivethemes.com
 *
 * @file dark.css
 * This stylesheet provides dark style overrides to
 * support dark themes for Drupal.
 */
body {
background:#292929;
color:#FFF;
}

a {
margin:0;
padding:0;
}

a:focus {
color:#FF0;
border:0;
}

thead th {
color:#CCC;
border-color:#444;
}

tbody {
border-top:1px solid #000;
}

tr.even,tr.odd,tbody th {
border-color:#333;
}

tr.odd td.active {
background-color:#333;
}

td.region,td.module,td.container td.category {
background-color:transparent;
border-bottom:none;
border-top:none;
color:#FFF;
}

#blocks td.region {
color:#4DA449;
}

table.sticky-header {
background:#222;
}

#permissions td.module {
background:#000;
color:#4DA449;
}

#permissions td.permission {
padding-left:1.5em;
}

td.revision-current {
background:#666;
}

div.admin-panel {
background:#303030;
border:1px solid #242424;
}

.admin-panel h3 {
background:#242424;
color:#EEE;
}

span.form-required,span.marker {
color:red;
}

div.error {
background-color:#C00000;
border:2px solid #FF3F3F;
color:#FFF3F6;
}

tr.error {
background:#C00000;
color:#FFF3F6;
}

div.notice {
background:#FFF6BF;
color:#514721;
border-color:#FFD324;
}

div.status {
background-color:#2A6827;
border:2px solid #4DA449;
color:#F1FFCF;
}

div.help {
background-color:#027AC6;
border:2px solid #66BEF4;
color:#F7F8F8;
}

div.warning {
background-color:#9F3800;
border:2px solid #FFB900;
color:#FFF6DF;
}

div.error a:link,div.error a:visited,div.status a:link,div.status a:visited,div.help a:link,div.help a:visited,div.warning a:link,div.warning a:visited,tr.warning a:link,tr.warning a:visited {
color:#FF0;
font-weight:700;
}

table tr.warning {
background-color:#9F3800;
}

table tr.warning td {
color:#9F3800;
}

div.admin-dependencies,div.admin-required {
color:#777;
}

table.system-status-report a:link,table.system-status-report a:visited,table.update a:link,table.update a:visited {
color:#FF0;
text-decoration:none;
}

.update tr td {
border-bottom:1px solid #4DA449;
border-top:1px solid #4DA449;
}

.update tr.warning td,.update tr.warning {
background-color:#9F3800;
color:#FFF6DF;
}

.update tr.ok {
background:#2A6827;
}

.update tr.error {
background-color:#C00000;
color:#FFF3F6;
}

.update tr.warning table.version-recommended td {
background:#DF601B;
}

.update tr.error table.version-recommended td {
background:#000;
}

.form-item strong.error em {
color:#E41F0B;
}

.article-unpublished,.comment-unpublished {
background-color:transparent;
}

.preview .article,.preview .comment {
background-color:#111;
}

ul.primary li a {
background-color:#111;
border:3px solid #242424;
font-weight:700;
padding:0.35em 1.4em 0.5em;
}

.local-tasks ul.primary li.active a {
background-color:#111;
border:3px solid #242424;
}

.local-tasks ul.primary li a:hover {
background-color:#333;
border:3px solid #444;
}

textarea,select,input.text,input.form-text,input.title {
background:#1A1A1A;
border:1px solid #6D6D6D;
color:#EEE;
}

input.form-text:focus,input.text:focus,input.title:focus,textarea:focus,.form-select:focus {
background:#1F1F1F;
border:1px solid #777;
color:#EEE;
}

fieldset legend {
padding:0 1em;
}

html.js fieldset.collapsed legend a {
background-image:none;
}

html.js fieldset.collapsible legend a {
background:none;
padding-left:0;
}

.resizable-textarea .grippie {
background-color:#000;
border-color:#777;
}

li.leaf,li.collapsed,li.expanded {
color:#777;
list-style-image:none;
}

.poll .bar {
background-color:#BBB;
}

.poll .bar .foreground {
background-color:#777;
}

table.views-entry {
background-color:#000;
color:#EEE;
border-color:#111;
}

.views-tabset {
background-color:transparent;
color:#EEE;
}

.views-tabset .views-tabs {
background-color:#303030;
border-color:#000;
}

.views-tabset .views-tabs ul li {
background:#666;
border-bottom:#000 1px solid;
}

.views-tabset .views-tabs ul li.active {
background-color:#444;
background-image:none;
}

.views-tabset .views-tabs ul li a {
color:#fff;
}

.views-tabset .views-tabs ul li a:hover {
background-color:#000;
background-image:none;
}

.views-tabset .views-tabs ul li.active a {
background-image:none;
color:#FFF;
}

.views-tabset .views-tabs ul li.active a:hover {
background-color:#000;
background-image:none;
color:#FF0;
}

div.views-display-deleted,div.views-display-deleted div.top,div.views-display-deleted div.tab-section {
background-color:#eee;
}

.views-display .tab-section .inside .views-category {
background-color:#303030;
border-color:#777;
}

.views-display .tab-section .inside .views-category-title {
background-color:#242424;
border-color:#777;
}

#views-ajax-pad form {
background-color:#555;
border-color:#000;
}

a.views-button-configure,a.views-button-add,a.views-button-rearrange,a.views-button-remove {
background-color:transparent;
border-bottom:#C2C9CE 1px solid;
border-right:#C2C9CE 1px solid;
}

div.view-changed {
color:#f93;
}

.views-display .tab-section .inside .defaulted {
color:#aaa;
}

.hilited {
background-color:#555;
color:#FFF;
}

#views-ajax-pad fieldset {
background:transparent;
}

#views-ajax-pad pre {
background-color:#222;
border-color:#333;
}

.view-locked {
border:1px solid red;
color:red;
}

.ctools-modal-content input.form-text,.ctools-modal-content input.text,.ctools-modal-content input.title,.ctools-modal-content textarea,.ctools-modal-content select {
background-color:#FFF;
color:#000;
}

.ctools-modal-content input.form-text:focus,.ctools-modal-content input.text:focus,.ctools-modal-content input.title:focus,.ctools-modal-content textarea:focus,.ctools-modal-content select:focus {
background-color:#FFFFDF;
border-color:#FC0;
}

.ctools-modal-content .description {
color:#555;
}

html.js div.ctools-dropdown div.ctools-dropdown-container ul li a {
width:160px;
}

#panels-dnd-main div.panels-display {
background:#444;
border-color:#777;
}

.panel-portlet {
background-color:#444;
border-color:#777;
}

.vertical-tabs-list li {
background:#303030;
border-color:#777;
}

.vertical-tabs-list li.selected {
background:#242424;
}

.krumo-root {
color:#303030;
}

td,th,table.system-status-report th {
border-bottom:1px solid #333;
}

tr.odd,tr.info,table.views-entry td.view-ops,table.views-entry td.view-name,table.views-entry td.view-name,table.views-entry td.view-ops,.panel-portlet .grabber {
background-color:#242424;
}

tr.even,table.view-enabled td.view-name,table.view-enabled td.view-ops,#views-ajax-pad .form-buttons,div.changed,.panel-portlet .grabber:hover {
background-color:#303030;
}

tr.drag,tr.drag-previous,tr.selected td,#panels-dnd-main div.changed {
background-color:#666;
}

tr.even td.active,.views-display,.views-display .top {
background-color:#444;
}

.admin-panel dd,.page-admin-by-module .admin-panel .body p,table.view-disabled {
color:#999;
}

.description,div.ok,tr.ok,table tr.ok td {
color:#EEE;
}

.includes,.vertical-tabs-list li.selected strong {
color:#FFF;
}

.update .security-error,.ctools-modal-content a:hover {
color:#000;
}

ul.primary,ul.secondary {
border-bottom:0;
}

fieldset,.vertical-tabs {
background:#242424;
border-color:#777;
}

.views-tabset .views-display,form#views-add-display-form {
border-color:#000;
}

#views-ajax-title,#views-ajax-pad .message {
background-color:#242424;
border-color:#000;
}

#views-ajax-pad .views-messages,form#views-ui-preview-form,#center form#views-ui-preview-form,.vertical-tabs-list {
border-color:#777;
}

a:hover,div.error a:hover,div.error a:focus,div.status a:hover,div.status a:focus,div.help a:hover,div.help a:focus,div.warning a:hover,div.warning a:focus,tr.warning a:hover,tr.warning a:focus,table tr.warning.merge-up td,.hilited a.hilite,.views-display-default a:hover,.views-display-default a:active,.views-display-default a.active {
color:#FF0;
}

li a.active,table.system-status-report a:hover,table.system-status-report a:focus,table.update a:hover,table.update a:focus {
color:#FF0;
text-decoration:underline;
}

a:link,a:visited,.views-tabset a:visited,.views-tabset a:hover,.views-tabset a {
color:#027AC6;
}
