/* $Id: fusion-starter-style-rtl.css 6571 2010-02-25 01:22:28Z chris $ */

/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  float: right;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  float: right;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  float: right;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  float: right;
}

