/* $Id$ */


/* Panels */
.panel-display {
  overflow: hidden;
}

/* Sidebar last */
#sidebar-last {
  clear: left;
  float: right;
}

/* Footer */
#footer-wrapper {
  clear: both;
  position: relative;
}

/* Primary menu */
#primary-menu {
  width: 45%;
}

/* Search box */
.search-box {
  position: relative;
  width: 375px;
}


/* Alpha transparency png fix */
/* To use: uncomment & change path to match your Fusion Core location*/

div.pngfix,
#logo img {
  behavior: url(/sites/all/themes/fusion/fusion_core/js/iepngfix.htc);
}


.header-region { margin: 60px 0px 0px 0px;}
form#commons-core-join-form .form-item input { width:200px;}
#block-views-group_node-block_1 .inner { width:608px; float:left;}
#views-exposed-form-og-search-default .views-exposed-widget .form-item input {  width: 90%;}
.views-exposed-wrapper .views-exposed-widget.views-exposed-submit {	margin-right: 0px;}

#edit-search-text-wrapper input#edit-search-text { width:170px;}
.view-groups-my-groups-listing ul li { clear:both; display:inline-block; width:100%}

form#views-exposed-form-og-my-content-page-2 .views-exposed-widget input#edit-keys,
form#views-exposed-form-og-my-content-page-2 .views-exposed-widget select#edit-type { width:200px;}

#block-boxes-homepage_info_box a.intro-morebutton {	display: inline-block; width:86%;} 


.shoutbox-msg .shout-message,
div.shoutbox-even {
	border: 1px solid #d6d6d6;
	display: block;
	margin-left: 118px;
	min-height: 18px;
	padding: 0px;
	z-index: 1;
}
