/* IE7 */


/* Panels */
.panel-display {
  overflow: hidden;
}

/* Sidebar last */
#sidebar-last {
  clear: left;
  float: right;
}

/* Footer */
#footer-wrapper {
  clear: both;
  position: relative;
}

/*shoutbox*/
.shoutbox-posts .shoutbox-msg .shout-message {
position: auto;
}

.shoutbox-admin-links {
width: 120px;
}

/* Header layout*/

.search-box.block{
float: right;
width: auto;
}

.nav-group-wrapper {
max-height: 36px; 
}

.primary-menu.block,
.primary-menu-inner.inner{
float: left;
width: 60%;
}

#header-site-info,
.header-region.block, {
width: 49%;
overflow: hidden;
}

/* Panels*/

.content-content .twocol-30-70 .panel-col-first.panel {
  width: 28%;
  }
  
.views-field-subscribe, .views-field-leave-group {
	background: #228bc8 url(../images/button_bkgd.gif) repeat-x bottom left;
	border:solid 1px #228bc8;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	margin: 2px;
	padding: 1px 5px 2px 5px;
	text-transform:uppercase;
	display:block;
	float:right;
	clear:both;
}


li.views-row {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DBDBDB;
    margin: 0;
    padding: 10px 0;
	overflow: hidden;

}
