div.item-list ul.activity-log-collection-list-horizontal li {
  background-image: none;
  display: inline;
  list-style-image: none;
  list-style-type: none;
  padding: 0 0.5em;
}

div.item-list ul.activity-log-collection-list-vertical li {
  background-image: none;
  list-style-image: none;
  list-style-type: none;
}

.activity-log-collection-more-expand {
  display: none;
}
