.activity-log-message {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  padding: 0.75em 0;
}

/* Grouped collections */

div.item-list ul.activity-log-collection-list-horizontal li {
  background-image: none;
  display: inline;
  list-style-image: none;
  list-style-type: none;
  padding: 0 0.5em;
}

div.item-list ul.activity-log-collection-list-vertical li {
  background-image: none;
  list-style-image: none;
  list-style-type: none;
}

.activity-log-collection-more-expand {
  display: none;
}

.activity-log-indent {
  overflow: hidden;
}

.activity-log-picture {
  float: left;
  margin-right: 10px;
  width: 30px;
}

.activity-log-picture img {
  width: 100%;
  height: auto;
}