/* IE7 */


/* Panels */
.panel-display {
  overflow: hidden;
}

/* Sidebar last */
#sidebar-last {
  clear: left;
  float: right;
}

/* Footer */
#footer-wrapper {
  clear: both;
  position: relative;
}

/*shoutbox*/
.shoutbox-posts .shoutbox-msg .shout-message {
position: auto;
}

.shoutbox-admin-links {
width: 120px;
}

/* Header layout*/

.search-box.block{
float: right;
width: auto;
}

.nav-group-wrapper {
max-height: 36px; 
}

.primary-menu.block{
float: left;
width: 60%;
}

#header-site-info,
.header-region.block, {
width: 49%;
overflow: hidden;
}

/*group create content*/
#block-commons_core-group_create_content form .form-item {
	padding-top: 4px;
	padding-bottom: 8px;
}

#block-commons_core-group_create_content form .form-submit {
	float: left;
	height: 28px;
	width: 27%;
	padding-top: 0px;
}


/* Panels*/

.content-content .twocol-30-70 .panel-col-first.panel {
  width: 28%;
  }

/*clearfix*/
#view-id-groups_my_groups_listing-page_1 .views-row:after,
fieldset.views-exposed-form:after,
.view-homepage-group-showcase .views-row:after,
.view-homepage-group-showcase .views-row .view-content:after,
.view-homepage-group-showcase .views-row table:after,
.page-taxonomy .node:after,
.heartbeat-message-block .beat-item:after,
.profile .userpoints:after,
.view .view-content .item-list li.views-row:after,
.shoutbox-add-form:after,
.shoutbox-admin-links:after,
.shoutbox-msg:after,
.homebox-column:after,
#content-tabs ul.primary{
	zoom:1;
}   

/*inline links*/

ul.links li,
.node .inner ul.links li,
.block .content ul.links li,
.panel-pane .inner ul.links li {
	display: block;
	float: left;
}