/* $Id: quant.css,v 1.1.2.3 2010/09/16 16:05:54 mikestefff Exp $ */

#quant-page {

}
#quant-page img {
  padding: 10px;
}
#quant-time-form .quant-option-row {
  padding: 6px 0;
}
#quant-time-form .form-item { 
  display: inline; 
  padding-right: 5px; 
}

