/* $Id: panels-dashboard.css,v 1.1.2.3 2009/10/06 18:47:20 merlinofchaos Exp $ */

.dashboard-entry .dashboard-icon {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  margin: 0 5px;
}

.dashboard-entry .dashboard-link a {
  font-size: 120%;
  font-weight: bold;
}

.dashboard-entry .dashboard-icon img {
  vertical-align: middle;
}
.dashboard-title {
  font-weight: bold;
  font-size: 140%;
  margin-bottom: .5em;
}

.dashboard-entry {
  padding-left: 1em;
}

.dashboard-entry .dashboard-link form {
  margin: 0 !important;
}

.dashboard-link form input {
  margin: 0;
}

.dashboard-link form select {
  margin: 0;
}

.dashboard-left {
  width: 47%;
  float: left;
}

.dashboard-right {
  margin-left: 2em;
  width: 47%;
  float: left;
}

.dashboard-question {
  margin-top: 14em;
  padding: 1em;
  text-align: center;
}

table.panels-manage {
  margin: 0 1em 1em 1em;
  width: 100%;
}

.dashboard-pages .links {
  text-align: right;
}

.dashboard-pages .page-manager-page-operations {
  text-align: right;
}