/* $Id: lightbox-rtl.css,v 1.1.2.16 2008/09/05 12:18:38 snpower Exp $ */

#imageData #imageDetails {
  float: right;
  text-align: right;
}

/* Image location mod */
#bottomNavClose {
  float: left;
}

#bottomNavZoom,
#bottomNavZoomOut {
  left: -30px;
  float: left;
}

#lightshowPlay,
#lightshowPause {
  float: left;
		margin-right: 0px;
  margin-left: 5px;
}
