iframe,
object,
embed {
  max-width: 100%;
}

video {
  height: auto;
  max-width: 100%;
}

.oembed {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.oembed iframe,
.oembed object,
.oembed embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
