/* IE7 */


/* Panels */
.panel-display {
  overflow: hidden;
}

/* Sidebar last */
#sidebar-last {
  clear: left;
  float: right;
}

/* Footer */
#footer-wrapper {
  clear: both;
  position: relative;
}

/*shoutbox*/
.shoutbox-posts .shoutbox-msg .shout-message {
position: auto;
}

.shoutbox-admin-links {
width: 120px;
}

/* Header layout*/

.search-box.block{
float: right;
width: auto;
}

.nav-group-wrapper {
max-height: 36px; 
}

.primary-menu.block,
.primary-menu-inner.inner{
float: left;
width: 60%;
}

#header-site-info,
.header-region.block, {
width: 49%;
overflow: hidden;
}

/* Panels*/

.content-content .twocol-30-70 .panel-col-first.panel {
  width: 28%;
  }