/* Hierarchy block/tree */
ul.og-subgroups-menu-tree .og-subgrous-tree-active {
  font-weight: bold;
}
div.og-subgroups-tree {
  overflow-x: auto;
}
div.og-subgroups-tree-controls {
  background: #F5F5F5;
  border: 1px solid #DDDDDD;
  color: #AAAAAA;
  font-size: 80%;
  margin-bottom: 4px;
  padding: 2px 0;
  text-align: center;
}
