/* $Id: fourcol_4x25.css,v 1.1.2.2 2009/10/26 00:24:22 jmburnz Exp $ */
/* adaptivethemes.com */

.at-panel div.block,.at-panel div.panel-pane{padding:0 10px;}
.at-panel{clear:both;}
.at-panel .panel-panel{display:inline;position:relative;float:left;}
.fourcol-4x25 .panel-panel{width:25%;}
.fourcol-4x25 .panel-col-four{width:24.5%;}