.editablefields_throbber {
  background: url(./throbber.gif)  no-repeat right center;
  padding-right:18px;
}

div.editablefields_clicktoedit_message { 
  position: absolute;
  cursor:pointer;
  font-size:xx-small;
  opacity:0.5;
  display:block;
  margin-top: -1em;
  z-index: 200;
}
