/**
 * @file
 * Style overrides for the Commons Media feature.
 */

@import "base";

.field-name-field-media-form {
  margin-bottom: $gutter-width;
}

.field-name-field-media .field-add-more-submit {
  &,
  #quicktabs-container-commons_bw .quicktabs-tabpage & {
    margin: $gutter-width 0;
  }
}

table[id^="field-media-values"] {
  &,
  thead,
  tbody,
  tr,
  th,
  td {
    background-color: transparent;
    border: none;
  }

  th {
    padding: 0;

    label {
      margin: 0;
    }
  }

  td {
    &.field-multiple-drag {
      width: 20px;
    }
  }

  a.tabledrag-handle .handle {
    margin: 0;
  }

  .form-item {
    padding-left: px-to-em(100px + $gutter-width);
  }

  .media-widget {
    .button {
      display: block;

      @include respond(large) {
        max-width: 50%;
      }
    }
  }
}

// Override the default jQuery Dialog to match styles of Ember admin theme.
.media-wrapper {
  .ui-dialog-titlebar {
    background: #303030;
    padding: 1em 2.25em 0;
    color: #cccccc;
    box-sizing: border-box;
    border:none;
    @include border-radius(0px);

    .ui-dialog-title {
      font-size: 1.8em;
      font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
      font-weight: 200;
      margin: 0;
    }

    .ui-dialog-titlebar-close {
      position: absolute;
      top: 1.5em;
      right: 1em;

      .ui-icon {
        background-color: #ccc;
        border: 1px solid #fff;
        @include border-radius(2px);
      }
    }
  }
}

.form-type-media .preview {
  font-size: 1em;
  width: 6.25em;
  min-height: 6.25em;
  background: #858585;
  background-image: image-url("icons/file-unknown.png");
  background-position: center center;
}

@media only screen and (max-width: 480px) {
  .form-type-media .preview {
    display: block;
    float: none;
    margin: 10px auto;
  }
}
