/* $Id: twocol_at_stacked_inset.css,v 1.1.2.2 2009/10/26 00:21:52 jmburnz Exp $ */
/* adaptivethemes.com */

.at-panel div.block,.at-panel div.panel-pane{padding:0 10px;}
.at-panel{clear:both;}
.center-wrapper{float:left;margin:0;width:74.5%;}
.twocol-at-stacked-inset .panel-col-first {float:left;width:25%;}
.twocol-at-stacked-inset .panel-separator,
.twocol-at-stacked-inset .panel-col .inside{margin:0;}
.twocol-at-stacked-inset .panel-col-bottom {clear:both;}