body {margin:0; padding:0; background:#73B6D7 url(../../images/body-bg.png) 0 0 repeat-x; color:#414141; font-family:Arial, sans-serif;}

.clear {clear:both; height:0; line-height:0; font-size:0em; display:block;}
.admin-menu .clear {height:auto; line-height:auto; font-size:inherit;}

h1 {color:#3fa830; font-size:2em;}
ul {list-style-position:inside;}

a {color:#2b6f22; text-decoration:none;}
a:hover   {text-decoration:underline;}

.addnew a {background:transparent url(../../images/addicon.png) 0 0 no-repeat; padding:1px 0 2px 20px; font-size:120%;}
.addnew a:hover {background-position:0 -32px;}

.marker {padding:0 0 0 5px;}
	
#container {width:90% !important; min-width:960px !important;}

#columns {margin-top:45px; position:relative;}
.home #columns {margin-top:25px; position:relative;}
.columns-inner {padding:15px 10px 10px 10px; background:#FFFFFF; border:1px solid #B8B8B8; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px;}
.home .columns-inner {padding:10px;}

#header-region {float:right;}

/* DO NOT USE display:none as this hides it from screen readers! */
#skip-nav {position:absolute; top:0; left:0; height:0; width:0; line-height:0;}
#skip-nav a {visibility:hidden;}

#header {background:#E1E1E1 url(../../images/header-bg.png) 0 0 repeat-x; position:relative; padding:0 0 15px 0; border:1px solid #BABABA; border-top:0; -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px; }
#header #search-box {float:right; clear:right; padding-top:20px;}

input.form-text {border:1px solid #2b6f22; color:#414141;}
input.form-text:focus {background:#FFFFFF; border-color:#85c77c; color:#414141;}

#branding {float:left; padding:0; margin:0;}
#branding .logo-site-name {padding:7px 0 0 25px;}

#search-box {float:right;}

#primary {position:absolute; bottom:-11px; left:0; width:100%; padding:0;}
#primary .wrap {position:relative; background:#424242 url(../../images/primary-bg.png) 0 0 repeat-x; color:#EEEEEE; padding:0; margin:0 25px; height:25px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#primary ul.menu {float:left; list-style:none; margin:0 15px; padding:0; width:99%;}
#primary ul.menu li {list-style-type:none; list-style-image:none; float:left; margin:0; padding:0; background:url(../../images/primary-separator.png) 0 0 no-repeat; margin:0; padding:0 0 0 1px;}
#primary ul.menu li.first {background-image:none; padding-left:0;}
#primary ul.menu li a {color:#FFF; float:left; margin:0; padding:5px 15px 0 15px; height:20px;}
#primary ul.menu li a:hover {background:#6F6E6E url(../../images/primary-active-bg.png) 0 0 repeat-x; text-decoration:none;}
#primary ul.menu li.last {background-image:none; padding-left:0; float:right; margin:0 15px 0 0;}
#primary ul.menu li.expanded {position:relative;}
#primary ul.menu li.expanded ul.menu {display:none;}

#primary ul.menu li.expanded:hover ul.menu {display:block; position:absolute; top:25px; right:-15px; background:#6F6E6E; width:125px; border:1px solid #414141; -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px; z-index:99; overflow:hidden;}
#primary ul.menu li.expanded ul.menu li {clear:both; display:block; width:100%; border-bottom:1px dotted #FFF; margin:0; padding:2px 0; background:none;}
#primary ul.menu li.expanded ul.menu li.last {float:none; border:0;}
#primary ul.menu li.expanded ul.menu li a {display:block; padding:2px 10px; width:100%;}
#primary ul.menu li.expanded ul.menu li a:hover {background:none; color:#85ba7d;}

#primary .active-trail a {color:#FFF; background:#6F6E6E url(../../images/primary-active-bg.png) 0 0 repeat-x; text-decoration:none;}

#breadcrumb {position:absolute; top:-15px; margin:0 15px; font-size:0.8em; color:#414141; padding:5px 10px; border:solid #2B6F22; border-width:0; background:#F0F8F7; -webkit-border-radius:5px; -moz-border-radius:5px; border:1px solid #B8B8B8;}
/*#breadcrumb a {color:#85ba7d;}*/

#footer {color:#414141; padding-bottom:25px;}
#footer a {color:#004C7F;}
#footer .block {background:transparent; border:0; padding:0; margin-bottom:0;}
#footer .block .tos {font-size:0.8em; position:relative;}
#footer .block .tos ul {margin:0; padding:0; list-style-type:none; text-align:center;}
#footer .block .tos ul li {display:inline; padding:0 20px;}
#footer .block .tos ul li a {border-bottom:1px dotted #004C7F;}
#footer .block .tos .logo {text-align:center; margin-top:15px;}

.block {border:1px solid #b3cce6; padding:0; -webkit-border-radius:5px; -moz-border-radius:5px;margin-bottom:25px; background:#FFF;}
.block h2 {background:#eff3f8 url(../../images/block-head-bg.png) 0 0 repeat-x; color:#414141; font-size:1.05em; padding:2px 5px 3px 5px; border-bottom:1px solid #b3cce6;}
.block h2 a {color:#004C7F; border-bottom:1px dotted #004C7F;}
.block .content {padding:5px 10px;}
 
.sidebar {background:transparent url(../../images/sidebar-bg.png) left bottom repeat-y; padding:0;}
.sidebar .sidebar-inner {background:transparent url(../../images/sidebar-top.png) 0 0 no-repeat; padding:10px 15px 15px 0;}
.sidebar .block {width:225px;}

#sidebar-last {background-position:right bottom; padding:0;}
#sidebar-last .sidebar-inner {background-position:-280px 0; padding:10px 0 15px 15px;}

#header-region     .block {border:0; background:none; margin:10px 0 0 0;}
#header-region     .block .content {padding:0 10px 0 36px; position:relative;}
#header-region     .block span.picture {position:absolute; top:0; left:0;}
#header-region     .block span.picture a img {border:1px solid #2B6F22;}
#header-region     .block span.name,
#header-region     .block span.value,
#header-region     .block span.nothing {float:left; padding-right:0.5em;}
#header-region     .block span.nothing a {padding-left:0.3em;}
#header-region     .block div.points {float:left; clear:left;}

.block ul, .block .item-list ul {margin:0 0 0 0; padding:0;}

.panel-pane {border:1px solid #b3cce6; padding:0; -webkit-border-radius:5px; -moz-border-radius:5px;margin-bottom:25px; background:#FFF;}

.panel-pane h2 {background:#eff3f8 url(../../images/block-head-bg.png) 0 0 repeat-x; color:#414141; font-size:1.05em; padding:2px 5px 3px 5px; border-bottom:1px solid #b3cce6;}
.panel-pane h2 a {color:#004C7F; border-bottom:1px dotted #004C7F;}
.panel-pane .pane-content {padding:5px 10px;}

.button input {color:#FFF; border:1px solid #2b6f22; background:#45ab37 url(../../images/tabs-bg.png) 0 -68px repeat-x; cursor:pointer; padding:1px 8px 2px 8px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.button input:hover {background-position:0 0; background-color:#92cd8a;}

#content-column .views-exposed-form {background:#F0F8F7; margin-top:5px;}
#content-column .views-exposed-form .views-exposed-widgets {padding:10px; border-bottom:1px solid #2b6f22;}
#content-column .views-exposed-form .views-exposed-widgets .views-exposed-widget {width:auto; padding:0 5px 0 0; min-height:70px;}
#content-column .views-exposed-form .views-exposed-widget input.form-text {width:125px;}
#content-column .views-exposed-form .views-exposed-widget .description {width:121px; line-height:1em; padding:0 2px; font-size:0.8em;}
#content-column .views-exposed-form .views-exposed-widget input.form-submit {margin-top:21px; margin-right:0;}

#autocomplete {border-color:#85c77c;}
#autocomplete li {color: #414141;}
#autocomplete li.selected {background: #3FA830; color: #fff;}

.sidebar .block form {margin-bottom:0;}
.sidebar .views-exposed-form .views-exposed-widgets {padding:0;}
.sidebar .views-exposed-form .views-exposed-widget {float:left; padding:0; width:50%;}
.sidebar .views-exposed-form .views-exposed-widget input {width:95%;}
.sidebar .views-exposed-form .views-exposed-widget .form-submit {float:right; margin-top:4px; margin-right:0;}

table {width:100%;}
thead th {color:#414141; border-bottom:0.1875em solid #B3CCE6;}
td, th {border-bottom:1px solid #B3CCE6;}
tr.odd, tr.info {background-color:#F0F8F7;}

ul.primary {border-bottom:2px solid #3fa830;}
ul.primary li a {background:#eff3f8 url(../../images/tabs-bg.png) 0 -34px repeat-x; border-color:#b3cce6; color:#414141; padding:0.1em 1em 0.2em;
-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;
-webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;
}
ul.primary li a:hover {background-position:0 -102px; border-color:#b3cce6; background-color:#ccdeee;}

.local-tasks ul.primary li.active a {background-color:#41a932; background-position:0 -68px; border-color:#3fa830; color:#FFFFFF;}
.local-tasks ul.primary li.active a:hover {border-color:#3fa830; background-position:0 0; background-color:#92cd8a;}

/* LINK COLOR FOR "GREEN" STATUS MESSAGES */
#messages-and-help {margin-top:25px;}
#messages-and-help .status a {color:#B8B8B8;}

/* USER BROWSER */
.user-picture img {border:1px solid #2B6F22;}
.views-view-grid .picture, .views-view-grid .name, .views-view-grid .access, .views-view-grid .created {text-align:left; margin:0 15px; padding:5px 5px 2px 10px; border-bottom:1px solid #2B6F22; background:#F0F8F7; color:#414141;}
.views-view-grid .picture label, .views-view-grid .name label, .views-view-grid .access label, .views-view-grid .created label {font-weight:bold;}
.views-view-grid .picture {text-align:center; border-bottom:0;padding:15px 0; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px; -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px;}
.views-view-grid .name a {font-weight:bold;}
.views-view-grid .created {margin-bottom:15px;}

/* FLOATING ADMIN LINKS */
.views-admin-links ul {list-style-type:none; margin:0; padding:0;}
.views-admin-links li {display:inline; padding:0 5px 0 0;}

/* CALENDAR STYLES */
/* ___________ IE6 IFRAME FIX ________ */
.ui-datepicker-cover {
display: none; /*sorry for IE5*/
display/**/: block; /*sorry for IE5*/
position: absolute; /*must have*/
z-index: -1; /*must have*/
filter: mask(); /*must have*/
top: -4px; /*must have*/
left: -4px; /*must have*/ /* LTR */
width: 200px; /*must have*/
height: 200px; /*must have*/
}
.calendar-calendar ul {border:solid #2B6F22; border-width:3px 0 0 0; background:#EFEFEF; text-align:right; list-style-type:none; margin:0 0 5px 0; padding:10px 15px;}
.calendar-calendar ul li {display:inline; margin:0 10px 0 0; padding:0 10px 0 0; border-right:1px solid #2B6F22;}
.calendar-calendar ul li:last-child {border-right:none; padding-right:0; margin-right:0;}
.calendar-calendar ul li a {border-bottom:1px dotted #2B6F22; font-weight:bold;}
.calendar-calendar ul li a:hover {text-decoration:none; border-bottom:1px solid #2B6F22;}
.calendar-calendar a {padding-right:3px;}

.calendar-calendar div.date-nav {background-color:#F0F8F7; border-color:#2B6F22;}
.calendar-calendar th.days {border-color:#2B6F22; background-color:#F0F8F7; color:#414141;}

.calendar-calendar div.date-nav h3 {color:#414141;}
.calendar-calendar div.date-nav a, .calendar-calendar td .inner div.day a {color:#2b6f22;}

.calendar-calendar div.calendar {font-size:11px;}

/* HEARTBEAT ACTIONS
    -- FIXME: MERGE INTO SVN COMMIT
    -- SEE DISA-16
*/
heartbeat-message-wrapper {}
.heartbeat-message-block {float:left; clear:both; width:100%;}
.heartbeat-message-block .beat-item {float:left; width:100%; border-bottom:1px solid #EEE; padding:2px 0 3px 0;}
.heartbeat-message-block .clear {display:none;}
.heartbeat_edit_node {}
.heartbeat_add_node {}
.heartbeat_add_comment {}
.heartbeat_edit_comment {}
.heartbeat_edit_account {}
.heartbeat_become_friends {}
.heartbeat_add_FL_OW_relation {}
.og_become_co_admin {}
.heartbeat_join_group {}
.heartbeat_leave_group {}
.heartbeat_flag_content {}
.heartbeat_create_user {}
.heartbeat_delete_user {}
.heartbeat_delete_content {}
.heartbeat_delete_comment {}
.heartbeat_friend_added {}
.heartbeat_friend_removed {}
.heartbeat_admin_group {}
.heartbeat-buttons {float:right;}

/* HOMEPAGE STYLES */
.home .pane-home-featured-event-panel-pane-1 {float:left; width:65%;}
.home .pane-home-recent-notice-panel-pane-1 {float:right; width:30%; border:0;  border:0; border-left:1px solid #b3cce6; min-height:200px;}
.home .pane-home-recent-notice-panel-pane-1 h2 {background:none; color:#414141; font-size:1.05em; padding:2px 5px 3px 5px; border-bottom:0; margin-bottom:15px;}

.home .center-wrapper {float:left; background-color:#F0F8F7; border:1px solid #b3cce6; margin-bottom:15px; padding:0;  -webkit-border-radius:5px; -moz-border-radius:5px; width:100%;}
.home .center-wrapper .panel-pane {border:0; padding:0; margin:0; background:transparent; margin-left:10px;}
.home .center-wrapper .panel-pane h2 {background:none; color:#414141; font-size:1.05em; padding:2px 5px 3px 5px; border-bottom:1px solid #2B6F22;}
.home .center-wrapper .panel-pane h2 a {color:#004C7F; border-bottom:1px dotted #004C7F;}
.home .center-wrapper .panel-pane .pane-content {padding:5px 10px;}

.home .pane-home-featured-blogs-panel-pane-1 {float:left; width:65%; border-width:0;}
.home .pane-home-featured-blogs-panel-pane-1 .article {margin:0 0 15px 0; padding-bottom:5px;}
.home .pane-home-featured-blogs-panel-pane-1 .article h2 {background:none; color:#414141; font-size:1.05em; padding:0 0 3px 0; border-bottom:0;}
.home .pane-home-featured-blogs-panel-pane-1 .article h2 a {color:#004C7F; border-bottom:1px dotted #004C7F;}
.home .pane-home-featured-blogs-panel-pane-1 .article ul.links {display:block; text-align:right; padding:0;}
.home .pane-home-featured-blogs-panel-pane-1 .article ul.links li {padding:0 0 0 5px; border-left:1px solid #004C7F;}
.home .pane-home-featured-blogs-panel-pane-1 .article ul.links li.first {padding-left:0; border-left:0;}

.home .pane-tagadelic-2 {float:right; width:30%; border:0; border-left:1px solid #b3cce6; min-height:200px;}
.home .pane-tagadelic-2 h2 {background:none; color:#414141; font-size:1.05em; padding:0 0 3px 10px; border-bottom:0;}

/* SHOUTBOX STYLES */
#shoutbox-body {overflow:visible;}
.home #shoutbox-body .shoutbox-all-shouts,
.home #shoutbox-body .interval-msg-page {display:none;}
.home div.shoutbox-msg {border-bottom:1px solid #b3cce6;}
.shoutbox-msg {float:none; clear:both; position:relative;}
.shoutbox-msg:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.shoutbox-msg img.imagecache-user_picture_meta {border:1px solid #2B6F22; padding:0; width:24px; height:24px; margin:3px 5px 3px 0; float:left;}
#shoutbox-add-form {background-color:#F0F8F7; border-top:1px solid #2B6F22; padding:0; margin:0;}
.home #shoutbox-add-form {background-color:transparent; border-top:0; padding-top:0;}
#shoutbox-add-form .form-text {width:70%;}
#shoutbox-add-form .form-text, #shoutbox-add-form .form-submit {font-size:100%;}

/* USER PROFILE */
.disa-user-profile .picture {float:left; width:25%;}
.disa-user-profile .info {float:right; width:70%;}
.disa-user-profile .profile-info-box {padding:0 0 10px 0;}
.disa-user-profile .profile-organization {padding: 0; font-weight:bold;}
.disa-user-profile .profile-info-box label {font-weight:bold; display:none;}

.disa-user-profile .picture img {border:1px solid #2B6F22;}
.disa-user-profile .picture .profile-created {text-align:center; padding-top:5px;}
.disa-user-profile .picture .profile-created label {display:inline;}

.disa-user-profile .profile-name {color:#3FA830; font-weight:bold; font-size:1.5em; padding-bottom:0px;}
.disa-user-profile .profile-job {font-weight:bold; font-size:1.2em;}
.disa-user-profile .profile-interests {border-top:1px solid #B8B8B8; padding-top:10px;}
.disa-user-profile .profile-interests label {display:inline;}
.disa-user-profile .profile-points {float:right; clear:none; border:1px solid #B8B8B8; background:#F0F8F7; text-align:center; padding:10px 25px; font-weight:bold; font-size:1.2em; -moz-border-radius:5px; -webkit-border-radius:5px;}
.disa-user-profile .profile-points span {float:left; padding-top:2px;}
.disa-user-profile .profile-points .star {background:url(../../images/points-bg.png) 0 0 no-repeat; display:inline-block; width:25px; height:24px; margin-right:5px; padding:0;}
.disa-user-profile .profile-points .pts-bronze {background-color:#bf6e29;}
.disa-user-profile .profile-points .pts-silver {background-color:#EEEEEE;}
.disa-user-profile .profile-points .pts-gold {background-color:#ffc000;}

.pane-heartbeat-privateheartbeat:before {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.pane-heartbeat-privateheartbeat {clear:both;}

.pane-content:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

/* Temp fix for image floating in nodes */
.pane-blog-stream div.article p { width:100%;float:left; }

/* Temp fix for group home page positioning */
div.groups { margin-top: 1em; margin-bottom: 1em; font-weight:bold; text-align: right;}
.og-context-3 .article h3.label { margin-top: 1.1em; }
// .og-context .article ul.links li { float: right; }
#edit-field-featured-group-value-wrapper { margin-top: .15em; }
#comments { margin-top: 2em; }
p.submitted { margin-bottom: 0.5em; }
.pane-home-featured-event-panel-pane-1 .group-event-details { margin-top: 0.5em; }

/* Temp fix for Dashboard positioning */
.og_featured-block_1 .views-table { margin: 0; }
.view-og-dashboard-groups .views-table { margin: 0; }
.view-most-active-users .views-table { margin: 0; }
.og_dashboard_groups-block_1 .content { padding: 0px 10px; }
#user-1 .content { padding: 5px 10px 10px 25px; }
.view-blog-stream .article {padding-bottom: 20px; }
/* next line doesn't work for some reason... */
div.view-id-recent_content_all tbody tr.odd td.last-updated em { font-size: 60%; }
/* next line is a DANGEROUS CSS.  It's not nearly specific enough; it's a quick hack. */
.panel-1col { padding-top: 10px; }
#content #comments .new { font-size: .8em; color: #3FA830; }
.field-content-images { float: left; clear: left; margin: 0px 10px 10px 0px; }

/* COMMENTS */
.comment {
  border: 1px solid #3FA830;
  margin-bottom: 10px;
}
.comment h3 {
  padding: 3px;
  border-bottom: 1px solid #3FA830;
  background: #F0F8F7;
}
.comment p.submitted { 
  border-bottom:1px solid #3FA830;
  padding:1px 3px;
  background: #EFEFEF;
}
.comment p {
  padding:0 5px;
}
.comment ul.links {
  text-align: right;
}
