/* $Id: threecol_at_25_25_50.css,v 1.1.2.2 2009/10/26 00:21:52 jmburnz Exp $ */
/* adaptivethemes.com */

.at-panel div.block,.at-panel div.panel-pane{padding:0 10px;}
.at-panel{clear:both;}
.at-panel .panel-panel{display:inline;position:relative;float:left;}
.threecol-at-25-25-50 .panel-col-first{width:25%;}
.threecol-at-25-25-50 .panel-col{width:25%;}
.threecol-at-25-25-50 .panel-col-last{width:49.5%;}