/* $Id: diff.css,v 1.7 2008/01/30 18:34:13 weitzman Exp $ */

table.diff {
  border-spacing: 4px;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 100%;
}
table.diff tr.even, table.diff tr.odd {
  background-color: inherit;
  border: none;
}
td.diff-prevlink {
  text-align: left;
}
td.diff-nextlink {
  text-align: right;
}
td.diff-section-title, div.diff-section-title {
  background-color: #f0f0ff;
  font-size: 0.83em;
  font-weight: bold;
  padding: 0.1em 1em;
}
td.diff-deletedline {
  background-color: #ffa;
  width: 50%;
}
td.diff-addedline {
  background-color: #afa;
  width: 50%;
}
td.diff-context {
  background-color: #fafafa;
}
span.diffchange {
  color: #f00;
  font-weight: bold;
}

table.diff col.diff-marker {
  width: 1.4em;
}
table.diff col.diff-content {
  width: 50%;
}
table.diff th {
  padding-right: inherit;
}
table.diff td div {
  overflow: auto;
  padding: 0.1ex 0.5em;
  word-wrap: break-word;
}
table.diff td {
  padding: 0.1ex 0.4em;
}
