
/**
* @file
*   Style sheet for the settings page of FBSMP module.
*/

.fbsmp-radios {
  clear: both;
}

.fbsmp-radios .form-item label.option {
  float: left;
  white-space: normal;
  padding-right: 1.5em;
}

.fbsmp-radios .form-item .description {
  clear: both;
  margin-left: 1.5em;
}

.fbsmp-checkboxes .form-item label.option {
  float: left;
  width: 49%;
  white-space: normal;
}

.fbsmp-checkboxes .form-item .description {
  clear: both;
}