/* $Id: threecol_at_50_25_25.css,v 1.1.2.2 2009/10/26 00:21:52 jmburnz Exp $ */
/* adaptivethemes.com */

.at-panel div.block,.at-panel div.panel-pane{padding:0 10px;}
.at-panel{clear:both;}
.at-panel .panel-panel{display:inline;position:relative;float:left;}
.threecol-at-50-25-25 .panel-col-first{width:50%;}
.threecol-at-50-25-25 .panel-col{width:25%;}
.threecol-at-50-25-25 .panel-col-last{width:24.5%;}