body {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  color: #736357;
  background-image: none;
  background-color: #f0edea;
}

div.content-messages div.messages, div.content-help div.help {
  border-width: 2px;
}

#header-site-info-inner {
}

#logo {
  margin-bottom: 11px;
  margin-top: 11px;
}

#site-name-wrapper {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 39px;
  margin-top: 32px;
  text-transform: lowercase;
}

#site-name-wrapper a {
  color: #000;
}

h1, h2 {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
}

h1.title {
  font-weight: bold;
  font-size: 22px;
  color: #736357;
  margin: 0 0 8px 14px;
}

.breadcrumbs {
  margin-left: 15px;
}

h3 {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #534741;
  font-weight: bold;
  text-transform: uppercase;
}

.front .pane-content a.intro-morebutton, .front .pane-content .intro-textblock h3 {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #534741;
  font-weight: bold;
  text-transform: uppercase;
}

a, a:link, a:visited {
  color: #29ABE2;
}

a:hover {
  color: #29ABE2;
}

label {
  font-weight: bold;
}

#right-background {
  background: none;
}

#left-background {
  background: none;
}

.footer {
  background: none;
  color: #736357;
}

#acquia-footer-message a, #fusion-footer-message a {
  color: #736357;
}

#acquia-footer-message a:hover, #fusion-footer-message a:hover {
  color: #29ABE2;
}

.header-group {
  border-left: 6px solid #fbb03b;
  border-bottom: 6px solid #fbb03b;
  border-right: 6px solid #fbb03b;
  border-radius: 0 0 16px 16px;
  -webkit-border-radius: 0 0 16px 16px;
  -moz-border-radius: 0 0 16px 16px;
  background: #fff;
}

.header-group-inner {
  border-left: 1px solid #fbb03b;
  border-bottom: 1px solid #fbb03b;
  border-right: 1px solid #fbb03b;
  margin: 0 5px 5px 5px;
  border-radius: 0 0 9px 9px;
  -webkit-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
}

.header-region-inner form#user-login-form, .header-region-inner .block-user .inner {
  float: none;
}

.header-region-inner .block-user #user-login-form div.item-list, .header-region-inner form#user-login-form div.item-list {
  float: none;
}

.header-region-inner form#user-login-form .item-list ul li.first {
  padding-top: 9px;
}

.header-region-inner form#user-login-form .form-item {
  float: left;
  margin-right: 15px;
}

.header-region-inner form#user-login-form div.item-list {
  float: left;
  margin: 10px 0 0 0;;
}

.header-region-inner form#user-login-form #edit-submit {
  float: left;
  margin: 22px 15px 0 0 ;
}

#search-box {
  float: right;
  padding: 12px 0 4px 0;
}

.search-box-inner input[name=search_theme_form] {
  background: #fff url(../images/bg-input.png) no-repeat 0 0;
  border: 1px solid #ccc;
  display: block;
  float: left;
  font-size: 11px;
  height: 19px;
  line-height: 14px;
  margin: 3px;
  width: 240px;
  padding: 2px 5px;
  color: #b3b3b3;
}

.search-box-inner input[type=submit] {
  border: none;
  display: block;
  float: left;
  letter-spacing: .1em;
  line-height: 16px;
  margin: 0;
  padding: 6px 7px;
  text-transform: uppercase;
  cursor: pointer;
}

.contextual-search-wrapper .contextual-search-launcher,
.contextual-search-processed .contextual-search-wrapper ul.contextual-search-list {
  background-color: #fff;
  background-image: url('../images/dropdown.png');
  background-position: right 9px;
}

.header-region {
  float: none;
  margin-bottom: 0px;
  padding-top: 0px;
  width: auto;
}

#block-views-user_meta-block_1 {
  width: auto;
}

#block-views-user_meta-block_1 .inner {
  margin-left: 0;
}

.view-user-meta .views-field-picture {
  float: left;
  margin: 0;
}

.view-user-meta .views-field-name {
  float: left;
  color: #FBB03B;
  font-size: 10px;
  margin: 8px 33px 0px 13px;
}

.view-user-meta .views-field-name span {
  text-align: left;
  font-style: normal;
}

.view-user-meta .views-field-name span.username a {
  color: #FBB03B;
  font-weight: normal;
}

.view-user-meta .views-field-name span.welcome-text {
  display: none;
}

.view-user-meta {
  float: none;
  width: auto;
  font-family: inherit;
  margin-top: 10px;
}

.view-user-meta .views-field-nothing {
  float: right;
  clear: none;
  color: #736357;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  margin-top: 7px;
}

.view-user-meta .views-field-nothing-1 {
  float: left;
  clear: none;
  color: #736357;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  margin-top: 7px;
}

.header-site-info {
  float: none;
  position: relative;
  overflow: visible;
  border-top: 1px solid #fbb343;
  margin: 0 10px;
  padding-top: 5px;
}

.border-orange-left {
  position: absolute;
  left: 0px;
  top: -1px;
}

.border-orange-right {
  position: absolute;
  right: 0px;
  top: -1px;
}

.nav-group {
  width: auto;
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin-bottom: 10px;
}

#primary-menu {
  float: none;
  margin: 0px 0 0px;
}

.primary-menu-inner ul.sf-menu a {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #736357;
  text-transform: uppercase;
  height: 28px;
  line-height: 28px;
  font-weight: bold;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
  left:           0;
  top:            100%;
  z-index:        99;
}

.sf-menu .expanded:hover {
  background: #736357;
}

.sf-menu .expanded:hover > a {
  color: #F0EDEA;
}

.sf-menu .expanded:hover .menu, .sf-menu .expanded .menu:hover {
  background: #F0EDEA;
  -moz-box-shadow: 0px 0px 9px #cbc6c1;
  -webkit-box-shadow: 0px 0px 9px #cbc6c1;
  box-shadow: 0px 0px 9px #cbc6c1;
}

.sf-menu .expanded .menu li:hover {
  background: #E0DDDA;
}

.sf-menu ul {
  position: absolute;
  top: 3em;
  left: -9999em;
  width: auto;
  max-width: 180px;
  white-space: nowrap;
  z-index: 9999;
}

.portlet-icon {
  z-index: 100;
}

.front #content-top-inner {
  background: #F7931E;
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: 0px 0px 9px #cbc6c1;
  -webkit-box-shadow: 0px 0px 9px #cbc6c1;
  box-shadow: 0px 0px 9px #cbc6c1;
  margin: 9px;
  padding: 6px;
  color: #fff;
}

.front #block-boxes-homepage_info_box {
  border: 1px solid #fff;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 0;
  padding: 34px 40px 24px 46px;
  width: auto;
  position: relative;
}

.front #block-boxes-homepage_info_box h2 {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.front #block-boxes-homepage_info_box h3 {
  color: #fff;
  margin: 20px 0 0 0;
}

.front #block-boxes-homepage_info_box p {
  margin: 0;
}

.front #block-boxes-homepage_info_box .intro-textblock {
  float: left;
  width: 30%;
  margin-right: 15px;
}

.front #block-boxes-homepage_info_box .intro-morebutton {
  text-align: left;
  padding: 15px 0 0 0;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

.not-logged-in.front #block-boxes-homepage_info_box .intro-morebutton {
  bottom: -23px;
}

.not-logged-in.front #block-boxes-homepage_info_box {
  padding: 34px 40px 34px 46px;
}

.not-logged-in.front #block-commons_core-header_login {
  margin-top: 16px;
}

.breadcrumbs {
  background-color: transparent;
  float: none;
  margin-bottom: 1em;
}

.view-homepage-group-showcase .views-row {
  border: none;
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
}

.view-homepage-group-showcase .views-row-last {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.front .panel-pane {
  margin: 9px 9px 20px 9px;
}

.front .panel-pane .inner, .front panel-panel .block .inner {
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: 0px 0px 9px #cbc6c1;
  -webkit-box-shadow: 0px 0px 9px #cbc6c1;
  box-shadow: 0px 0px 9px #cbc6c1;
  margin: 9px;
  padding: 12px 16px;
  background: #fff url(../images/bg-box-orange.png) 0px 0px no-repeat;
}

.front .panel-pane.pane-homepage-group-showcase .inner {
  background-image: none;
  padding: 15px;
}

#content-tabs {
  margin: 15px 0 0 0;
  position: relative;
  top: 2px;
}

#content-tabs ul.primary, #content-tabs ul.secondary {
  border-bottom: none;
  margin-bottom: 0;
}

/*#content-tabs ul.primary {
 margin-left: 7px;
 }*/

#content-tabs ul.primary li a:link, #content-tabs ul.primary li a:visited {
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  background: #FBB03B url(../images/bg-tab-orange.png) 0px 0px no-repeat;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 2px solid #FBB03B;
  color: #fff;
  cursor: pointer;
  float: left;
  margin: 4px 4px -3px 0;
  padding: 8px 14px;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

#content-tabs ul.primary li a.active:link, #content-tabs ul.primary li a.active:visited {
  background-color: #fff;
  background-image: none;
  border-bottom: 1px solid #fff;
  color: #fbb03b;
  position: relative;
  z-index: 1;
}

.content-content {
  background: #fff;
  padding: 10px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: 2px solid #fbb03b;
  overflow: hidden;
}

.content-content .fbsmp-wrapper-outer {
  z-index: 9;
}

.page-dashboard .content-content {
  background: none;
  padding: 0 10px 10px 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}

.page-dashboard h1.title, .page-dashboard #breadcrumbs {
  display: none;
}

#content-content.top-left-straight {
  -moz-border-radius: 0 16px 16px 16px;
  -webkit-border-radius: 0 16px 16px 16px;
  border-radius: 0 16px 16px 16px;
}

.front .content-content {
  background: #fff;
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: 0px 0px 9px #cbc6c1;
  -webkit-box-shadow: 0px 0px 9px #cbc6c1;
  box-shadow: 0px 0px 9px #cbc6c1;
  margin: 9px;
  padding: 12px 16px;
  background: #fff url(../images/bg-box-orange.png) 0px 0px no-repeat;
  overflow: hidden;
}

.page-admin #main-content-inner .nested, .page-admin #content-group, .page-admin #content-region, .page-admin #content-inner {
  margin-bottom: 0;
  overflow: visible;
}

.page-admin .content-inner-inner {
  z-index: 9;
}

#content-top-inner {
  background: #fff;
  padding: 10px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: 2px solid #fbb03b;
  margin-bottom: 20px;
}

.main {
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  overflow: hidden;
  margin-bottom: 10px;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.not-front .main .main-inner {
  padding: 0;
}

.main .block .inner {
  margin: 0;
}

form input.form-submit, .views-exposed-form .views-exposed-widget input.form-submit {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #29ABE2;
  border: none;
  -moz-box-shadow: inset -2px -2px 0px 1px #0071BC;
  -webkit-box-shadow: inset -2px -2px 0px 1px #0071BC;
  box-shadow: inset -2px -2px 0px 1px #0071BC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 7px 9px 7px;
  line-height: normal;
  height: auto;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
}

form .facebook-status-form input.form-submit {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

form .facebook-status-form input.facebook-status-submit {
  -moz-border-radius: 0px 0px 4px 0px;
  -webkit-border-radius: 0px 0px 4px 0px;
  border-radius: 0px 0px 4px 0px;
}

form .fbsmp-icon-list input.form-submit {
  color: #736357;
}

/* moved OG search field & button to Roots to generalize it -jay */

/* dashboard */
#homebox {
  padding-bottom:40px;
}

#homebox-buttons {
	margin: 0 0 5px 2px;
}

button, #homebox-buttons button {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #29ABE2;
  border: none;
  -moz-box-shadow: inset -2px -2px 0px 1px #0071BC;
  -webkit-box-shadow: inset -2px -2px 0px 1px #0071BC;
  box-shadow: inset -2px -2px 0px 1px #0071BC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 7px 9px 7px;
}

#homebox .homebox-placeholder {
  clear: both;
}

#homebox-changes-made {
  display: block;
  color: #29ABE2;
}

#homebox .homebox-column {
  background: none;
  margin: 0;
  padding: 0;
}

#homebox .homebox-portlet {
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: 0px 0px 9px #cbc6c1;
  -webkit-box-shadow: 0px 0px 9px #cbc6c1;
  box-shadow: 0px 0px 9px #cbc6c1;
  margin: 9px;
  padding: 12px 16px;
  background: #fff url(../images/bg-box-orange.png) 0px 0px no-repeat;
  float: none;
  width: auto;
}

/*#homebox .homebox-column-wrapper-1 .homebox-portlet, #homebox
 * .homebox-column-wrapper-3 .homebox-portlet {
 width: 80%
 }

 #homebox .homebox-column-wrapper-2 .homebox-portlet {
 width: 90%
 }*/

#homebox .homebox-portlet .homebox-portlet-inner {
  border: none;
  overflow: hidden;
}

#homebox .homebox-portlet h3.portlet-header {
  background: none;
  border-bottom: none;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #534741;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #CCC;
}

.sidebar-last .block h2.block-title, .sidebar-first .block h2.block-title {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  background-color: transparent;
  color: #323232;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0 0 5px 0;
  padding: 3px 8px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-bottom: 1px solid #CCC;
}

.sidebar-last .block, .sidebar-first .block {
  margin: 0;
}

.sidebar-last .block .inner, .sidebar-first .block .inner {
  border: none;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: 0px 0px 9px #cbc6c1;
  -webkit-box-shadow: 0px 0px 9px #cbc6c1;
  box-shadow: 0px 0px 9px #cbc6c1;
  margin: 0 9px 9px 9px;
  padding: 12px 16px;
  background: #fff url(../images/bg-box-orange.png) 0px 0px no-repeat;
}

.sidebar-last .block + .block .inner, .sidebar-first .block + .block .inner {
  margin-top: 9px;
}

.sidebar-last #block-views-groups_most_active-block_1.block .inner, .sidebar-first #block-views-groups_most_active-block_1.block .inner {
  background: #fff url(../images/bg-box-green.png) 0px 0px no-repeat;
}

.sidebar-last #block-views-recent_notices-block_1.block .inner, .sidebar-first #block-views-recent_notices-block_1.block .inner {
  background: #fff url(../images/bg-box-blue.png) 0px 0px no-repeat;
}

.sidebar-last #block-views-tag_cloud-block_1.block .inner, .sidebar-first #block-views-tag_cloud-block_1.block .inner {
  background: #fff url(../images/bg-box-grey.png) 0px 0px no-repeat;
}

#block-views-homepage_group_showcase-block_1 h2 {
  background: url(../images/icn-community-small.png) left top no-repeat;
  padding: 0 0 5px 34px;
  height: 27px;
  line-height: 27px;
}

#block-views-a3e7b5edbe74088872090245cc4288ec h2 {
  background: url(../images/icn-featured-small.png) left top no-repeat;
  padding: 0 0 5px 34px;
  height: 27px;
  line-height: 27px;
  margin-bottom: 5px;
}

#block-views-recent_notices-block_1 h2 {
  background: url(../images/icn-notices-small.png) left top no-repeat;
  padding: 0 0 5px 31px;
  height: 23px;
  line-height: 23px;
}

#block-views-groups_most_active-block_1 h2 {
  background: url(../images/icn-groups-small.png) left top no-repeat;
  padding: 0 0 5px 32px;
  height: 25px;
  line-height: 25px;
}

#block-views-tag_cloud-block_1 h2 {
  background: url(../images/icn-tags-small.png) left top no-repeat;
  padding: 0 0 5px 33px;
  height: 25px;
  line-height: 25px;
}

.sidebar-first .block .content, .sidebar-last .block .content {
  padding: 0;
}

.front .views-field-field-group-image-fid {
  float: left;
  width: 152px;
  margin-top: 0px;
  margin-right: 10px;
}

.front div.views-field-title {
  font-weight: bold;
}

.view-homepage-group-showcase .views-row > .views-field-title {
  font-size: 16px;
  margin-bottom: 8px;
}

/* a fix by Jay (read "Untrained themer") to unwind the font size increase introduced
 * into the content title in the view by the above selector
 */
.view-homepage-group-showcase .view-homepage-group-showcase .views-field-title {
  font-size: 12px;
}

/* another "fix" by Jay to line up the text in the Latest Notices block on /home */
.view-recent-notices .views-field-timestamp, 
.view-recent-notices .views-field-created,
.view-recent-notices .views-field-name { margin-left: 40px; }

/*cols-1 table on home page for groups */
.front .views-table {
  /*float: right;*/
  width: 442px;
  overflow: hidden;
}

.view-dashboard-recent-content .views-field-picture {
  float: left;
  min-height: 37px;
  #height: 37px;
  margin: 0 10px 0 0;
}

html.js fieldset.collapsible .fieldset-wrapper {
  overflow: hidden !important;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0px;
}

html.js fieldset.collapsed {
  margin-bottom: 0px;
}

#views-bulk-operations-submit {
  padding: 0;
}

/*------------------------------------------
 icons
 --------------------------------------------*/
.view-homepage-group-showcase table tr td.views-field-type span.blog, .view-recent-featured table tr td.views-field-type span.blog, .view-og-content-tracker table tr td.views-field-type span.blog, .view-recent-content-all table tr td.views-field-type span.blog, .view-og-my-content table tr td.views-field-type span.blog {
  background: transparent url(../../commons_origins/images/icons/blog-node.png) no-repeat center center;
  display: block;
  width: 40px;
  text-indent: -10000px !important;
}

.view-homepage-group-showcase table tr td.views-field-type span.event, .view-recent-featured table tr td.views-field-type span.event, .view-recent-content-all table tr td.views-field-type span.event, .view-og-content-tracker table tr td.views-field-type span.event, .view-og-my-content table tr td.views-field-type span.event {
  background: transparent url(../../commons_origins/images/icons/event-node.png) no-repeat center center;
  display: block;
  width: 40px;
  text-indent: -10000px !important;
}

.view-homepage-group-showcase table tr td.views-field-type span.wiki, .view-recent-featured table tr td.views-field-type span.wiki, .view-recent-content-all table tr td.views-field-type span.wiki, .view-og-content-tracker table tr td.views-field-type span.wiki, .view-og-my-content table tr td.views-field-type span.wiki {
  background: transparent url(../../commons_origins/images/icons/wiki-node.png) no-repeat center center;
  display: block;
  width: 40px;
  text-indent: -10000px !important;
}

.view-homepage-group-showcase table tr td.views-field-type span.document, .view-recent-featured table tr td.views-field-type span.document, .view-recent-content-all table tr td.views-field-type span.document, .view-og-content-tracker table tr td.views-field-type span.document, .view-og-my-content table tr td.views-field-type span.document {
  background: transparent url(../../commons_origins/images/icons/document-node.png) no-repeat center center;
  display: block;
  width: 40px;
  text-indent: -10000px !important;
}

.view-homepage-group-showcase table tr td.views-field-type span.discussion, .view-recent-featured table tr td.views-field-type span.discussion, .view-recent-content-all table tr td.views-field-type span.discussion, .view-og-content-tracker table tr td.views-field-type span.discussion, .view-og-my-content table tr td.views-field-type span.discussion {
  background: transparent url(../../commons_origins/images/icons/forum-node.png) no-repeat center center;
  display: block;
  width: 40px;
  text-indent: -10000px !important;
}

.view-homepage-group-showcase table tr td.views-field-type span.poll, .view-recent-featured table tr td.views-field-type span.poll, .view-recent-content-all table tr td.views-field-type span.poll, .view-og-content-tracker table tr td.views-field-type span.poll, .view-og-my-content table tr td.views-field-type span.poll {
  background: transparent url(../../commons_origins/images/icons/poll-node.png) no-repeat center center;
  display: block;
  width: 40px;
  text-indent: -10000px !important;
}

.view-homepage-group-showcase table tr td.views-field-type span.group, .view-recent-featured table tr td.views-field-type span.group, .view-recent-content-all table tr td.views-field-type span.group, .view-og-content-tracker table tr td.views-field-type span.group, .view-og-my-content table tr td.views-field-type span.group {
  background: transparent url(../../commons_origins/images/icons/group-node.png) no-repeat center center;
  display: block;
  width: 40px;
  text-indent: -10000px !important;
}

.view-homepage-group-showcase table tr td.views-field-type span.notice, .view-recent-featured table tr td.views-field-type span.notice, .view-recent-content-all table tr td.views-field-type span.notice, .view-og-content-tracker table tr td.views-field-type span.notice, .view-og-my-content table tr td.views-field-type span.notice {
  background: transparent url(../../commons_origins/images/icons/notice-node.png) no-repeat center center;
  display: block;
  width: 40px;
  text-indent: -10000px !important;
}

/*------------------------------------------
 end icons
 --------------------------------------------*/

/*heartbeat times */
span.heartbeat_times img {
  float: left;
  margin-right: 10px;
}

.beat-item-info span.heartbeat_times a.underlined {
  display: block;
  float: left;
  clear: left;
}

/* @group Facebook */

.facebook-status-item .facebook-status-links ul.links li {
  background: none;
  border: 0 none;
  display: inline-block;
  list-style: none;
  padding-left: 0;
}


form input.fbsmp-cancel-button,
form input.fbsmp-cancel-button:hover {
  background-image: url('../images/cancel.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 9px;
  width: 9px;
}

/* @group Comments */

.facebook-status-comments {
  border: 1px solid #eee;
}

.facebook-status-comments.no-comments {
  border: 0 none;
}

.facebook-status-subitem {
  background-color: #fafaf9;
  padding: 0.75em;
}

.facebook-status-subitem {
  border-top: 4px solid white;
}


.fbss-comments .facebook-status-subitem:first-child,
.facebook-status-comments :first-child,
.facebook-status-subitem.form-piece {
  border-top: 0 none;
}

.fbss-comments + .facebook-status-subitem {
  padding-bottom: 0;
}

.fbss-comments + .facebook-status-subitem .fbss-comments-show-comment-form-inner { /* This is so messy. The DOM structure needs to be cleaned up */
  padding-bottom: 0.75em;
}

.facebook-status-subitem.form-piece {
  padding-top: 0;
}

/* @end */

/* @end */

/*Shout box*/
.shoutbox-add-form fieldset {
  border: 0px;
}

.page-tagadelic h1.title, .page-taxonomy h1.title {
  background: url(../images/icn-tags-large.png) left top no-repeat;
  padding: 0 0 0 45px;
  height: 36px;
  line-height: 36px;
}

.page-tagadelic .content-content, .page-taxonomy .content-content {
  border: 2px solid #9a8779;
}

.not-front.og-context h1.title, .page-groups h1.title {
  background: url(../images/icn-groups-large.png) left top no-repeat;
  padding: 0 0 0 43px;
  height: 35px;
  line-height: 35px;
}

.not-front.og-context .primary-menu-inner ul.sf-menu ul, .not-front.page-groups .primary-menu-inner ul.sf-menu ul {
  background-color: transparent;
  background-color: rgba(139, 197, 88, 0.89);
  filter: progid
  :DXImageTransform.Microsoft.gradient(startColorstr=#E58BC558,endColorstr=#E58BC558);
  zoom: 1;
}

.not-front.og-context .primary-menu-inner ul.sf-menu li > a:hover, .not-front.page-groups .primary-menu-inner ul.sf-menu li > a:hover {
  color: #8AC559;
}

.not-front.og-context .primary-menu-inner ul.sf-menu li.sfHover li.first a, .not-front.page-groups .primary-menu-inner ul.sf-menu li.sfHover li.first a {
  border-top: 1px solid #008f4e;
}

.not-front.og-context .primary-menu-inner ul.sf-menu li.sfHover li a, .not-front.og-context .primary-menu-inner ul.sf-menu li.sfHover li a:link, .not-front.og-context .primary-menu-inner ul.sf-menu li.sfHover li a:visited, .not-front.page-groups .primary-menu-inner ul.sf-menu li.sfHover li a, .not-front.page-groups .primary-menu-inner ul.sf-menu li.sfHover li a:link, .not-front.page-groups .primary-menu-inner ul.sf-menu li.sfHover li a:visited {
  border-bottom: 1px solid #008f4e;
}

.not-front.og-context .content-content, .page-groups .content-content, .not-front.og-context #content-top-inner, .page-groups #content-top-inner {
  border: 2px solid #8ac559;
  overflow: hidden;
}

.view-subgroups-main-listing .view-content .views-row,
.view-groups-main-listing .view-content .views-row {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #8AC559;
  margin-bottom: 10px;
}

/*groups page leave/join button style*/
.not-front .views-field-field-group-image-fid {
  float: left;
  margin-right: 10px;
}

.not-front .views-field-description {
  float: none;
  margin-left: 85px;
}

.not-front .views-field-leave-group, .not-front .views-field-subscribe {
  float: right;
  margin: 0 10px 10px 10px;
  padding: 0;
  background: #8bc558;
  -moz-box-shadow: inset -2px -2px 0px 1px #008f4e;
  -webkit-box-shadow: inset -2px -2px 0px 1px #008f4e;
  box-shadow: inset -2px -2px 0px 1px #008f4e;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 7px 9px 7px;
  line-height: normal;
  height: auto;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  border: none;
}

.not-front .views-field-leave-group a, .not-front .views-field-subscribe a {
  color: #fff;
  text-decoration: none;
}

/*end groups page leave/join button style*/

.not-front .view-groups-newest-groups .views-field-description {
  margin-left: 40px;
}

/*blog posts create blog entry pod*/
#edit-node-type-wrapper {
  float: left;
}

#edit-submit {
  margin: 5px 0 0 10px;
}

.not-front .views-field-picture {
  float: left;
  margin-right: 10px;
}

/*end blog posts create blog entry pod*/

.not-front.og-context #content-tabs {
  margin: 2px 0 0 0;
}

.not-front.og-context #primary-menu {
  margin: 19px 0 0 0;
}

/*.not-front.og-context .primary-menu-inner ul.sf-menu li.active-trail a {
 padding: 0;
 }

 .not-front.og-context .primary-menu-inner ul.sf-menu li.active-trail a span {
 background-color: #fff;
 margin: 0 5px 0 4px;
 display: block;
 padding: 0 8px 6px 8px;
 border-radius: 9px 9px 0 0;
 -webkit-border-radius: 9px 9px 0 0;
 -moz-border-radius: 9px 9px 0 0;
 }*/

.primary-menu-inner ul.sf-menu > li.active-trail > a {
  color: #FBB03B;
}

.not-front.og-context #content-tabs ul.primary, .not-front.og-context #content-tabs ul.primary {
  background: #fff;
  padding: 10px;
  width: auto;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  margin-bottom: 1em;
}

.not-front.og-context #content-tabs ul.primary li, .not-front.og-context #content-tabs ul.primary li {
  margin:0 5px;
}

.not-front.og-context #content-tabs ul.primary li a:link, .not-front.og-context #content-tabs ul.primary li a:visited {
  background: none;
  border: none;
  font-size: 12px;
  color: #736357;
  margin: 0;
  padding: 5px;
}

.not-front.og-context #content-tabs ul.primary li a:hover {
  color:#8ac559;
}

.not-front.og-context #content-tabs ul.primary li a.active:link, .not-front.og-context #content-tabs ul.primary li a.active:visited {
  color: #fff;
  background: #8ac559;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.not-front.og-context .sidebar-last .block .inner, .not-front.og-context .sidebar-first .block .inner, .page-groups .sidebar-last .block .inner, .page-groups .sidebar-first .block .inner {
  background: #fff url(../images/bg-box-green.png) 0px 0px no-repeat;
}

.not-front.og-context form input.form-submit, .not-front.og-context .views-exposed-form .views-exposed-widget input.form-submit, .page-groups form input.form-submit, .page-groups .views-exposed-form .views-exposed-widget input.form-submit {
  background: #8bc558;
  -moz-box-shadow: inset -2px -2px 0px 1px #008f4e;
  -webkit-box-shadow: inset -2px -2px 0px 1px #008f4e;
  box-shadow: inset -2px -2px 0px 1px #008f4e;
}

.not-front.og-context form input.form-submit.facebook-status-submit {
  background: #8bc558;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid #8bc558;
}

.not-front.og-context .fbsmp-link-icon input.button {
  background: #eee 8px center no-repeat;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.not-front.og-context .fbsmp-photo-icon input.button {
  background: #eee 8px center no-repeat;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.not-front.og-context .primary-menu-inner ul.sf-menu > li.active-trail > a, .not-front.og-context .primary-menu-inner ul.sf-menu > li.active-trail > a:visited, .page-groups .primary-menu-inner ul.sf-menu > li.active-trail > a, .page-groups .primary-menu-inner ul.sf-menu > li.active-trail > a:visited {
  color: #8ac559;
}

#footer {
}

#acquia-footer-message {
  float: left;
}

#acquia-footer-message a img {
  display: block;
  float: left;
}

#acquia-footer-message span {
  display: block;
  float: left;
  margin: 10px 10px 0;
}

#fusion-footer-message {
  float: right;
  margin-top: 10px;
}

.link.inline {
  display: block;
  overflow: hidden;
  margin-top: 0.25em;
}

.link.inline li {
  display: block;
  float: left;
  padding: 0 0.25em 0 0;
}

.link.inline li + li {
  border-left: 1px solid #8AC559;
  padding-left: 0.25em;
}

.facebook-status-links li + li {
  border: 0 none;
}

.link.inline li a {
  padding: 2px 4px;
}

.link.inline a:hover, 
.link.inline a:focus, 
.link.inline a:active {
  color: #fff;
  background-color: #29ABE2;
  text-decoration: none;
}

.comment-info .picture {
  float: left;
  margin: 0.25em 0.5em 0 0;
}

.comment-info .comment-name {
  display: block;
}

.comment-content-wrapper {
  clear: left;
}

.feed-item + .feed-item {
  margin-top: 3em;
}

/* pager */
ul.pager a, ul.pager li.pager-current {
  border: none;
}

.node .inner ul.pager li, .panel-pane .inner ul.pager li, .block .content ul.pager li {
  display: inline-block !important;
}

/* featured groups */
.views_slideshow_singleframe_controls {
  margin-bottom: 10px;
}

.views_slideshow_singleframe_controls a {
  margin-right: 10px;
}

#block-views-groups_featured_groups-block_1 .content .views-row .views-field-field-group-image-fid {
  float: left;
  width: 140px;
  margin-right: 10px;
}

#block-views-groups_featured_groups-block_1 .content .views-row .views-field-description {
  width: 550px;
}

/* group list */
.view .view-content .views-row {
  border-bottom: 1px solid #8AC559;
  padding: 10px 0px;
  margin: 0px;
  background: none;
}

.view .view-content .views-row-last {
  border-bottom: none;
}

/* group block listings 
.views-field-title, .views-field-members-count, .views-field-posts-count {
  margin-left: 40px;
}*/

/* Featured content block on home page.
 * This is a bit of a hack by Jay (a non-themer) to make this block have text line up correctly.
 * TNT should fix this the "right" way at some point.
 */
.view-homepage-recent-featured .views-field-created,
.view-homepage-recent-featured .views-field-name {float: right; width: 210px;}

/* Somehow the Environs theme is handling the node type dropdown differently; it needs to have
 * its width set differntly in order to get the dropdown to fill the space before the Create button.
 * Plus, given the height of the Create button, some extra top margin is needed for the dropdown.
 * -jay
 */
#edit-node-type-wrapper #edit-node-type {
  width: 100%;
}

#edit-submit.form-submit {
  margin: 9px 3px 0 0;
}

.block.block-commons_profile .links .ur_action a {
  background: none repeat scroll 0 0 #29ABE2;
  border: medium none;
  border-radius: 4px 4px 4px 4px;
  box-shadow: -2px -2px 0 1px #0071BC inset;
  color: #FFFFFF;
  font-family: Arial,"Lucida Grande",Verdana,sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 7px 9px;
  text-transform: uppercase;
}

.block.block-commons_profile .links .ur_action a:hover,
.block.block-commons_profile .links .ur_action a:active {
  text-decoration: none;
}
