/*Node Links Style*/

 .node .inner .links .statistics_counter_clear_style{
    float: left;
    background-color: #FFFFFF;
    border-color: #6699CC;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 7px 17px;
}
.node .inner .links .statistics_counter_clear_style a{
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,Sans-serif;
    font-size: 12px;
}















