
/* General Styling */

.fbss_attachment {
  display: block;
  padding: 1em;
}

.fbsmp-icon-list input {
  margin: 0;
  padding: 0;
}

.fbsmp-wrapper-outer {
  display: block;
  clear: left;  
  float: left;
  min-width: 200px;
  width: 65%;
}

.fbsmp-inner-collapsed {
  min-height: 30px;
}

.fbsmp-inner-expanded {
  border: 1px solid #CCC;
  margin: 0.5em 0;
  padding: 10px;
}

.link-message, .photo-message, .video-message, .slideshare-message {
  float: left;  
}

/* Cancel button */
form .fbsmp-inner-expanded input.fbsmp-cancel-button {
  float: right;
  height: 1em;
  margin: 0px;
  padding: 2px 3px;
  width: 1em;
  background-color: #D1CFCA;
  border: 1px solid #B8B6B1;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px;
}

input.fbsmp-cancel-button:hover {
  background-color: #ABB1AD;
  border: 1px solid #949A96;
}

/* Form header styling */

.fbsmp-link-header, .fbsmp-photo-header, .fbsmp-video-header, .fbsmp-slideshare-header {
  margin-bottom: 10px;
  min-height: 15px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 8px;
}

/* Plugin icons and attach text */

.fbsmp-plugin-icon {
  position: relative;
  z-index: 19;
  float: left;
}

.fbsmp-attach-text {
  float: left;
  margin-right: 5px;  
  margin-top: 2px;
  color: #999;
  font-size: 11px;
}

/* Attachment edit form*/
.fbsmp-edit-wrapper-outer {
  border: 1px solid #CCC;
  margin: 10px 5px 5px 0;
  padding: 5px;
  clear: left;
  display: block;
  float: left;
}

.fbsmp-edit-text {
  display: none;
}

.fbsmp-edit-plugin-header{
  margin-top: 10px;
  clear: left;
  text-transform: capitalize;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color: #999;
}

.fbsmp-edit-form-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Tool tip for plugin icons */

div.fbsmp-plugin-tool-tip {
   display: none;
}

.fbsmp-plugin-icon:hover div.fbsmp-plugin-tool-tip  {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 0;
  background: url(images/icon_tool_arrow.png) no-repeat scroll left bottom transparent;
  padding-bottom: 4px;
}

span.fbsmp-plugin-tool-tip-text {
  background-color: #222222;
  color: #fff;
  font-weight: bold;
  display: block;
  font-size: 11px;
  line-height: 14px;
  padding: 4px 8px;
  white-space: nowrap;
}

/* Hover effect for plugin icons, awesome work by pribeh */

input.fbsmp-plugin-icon-button {
  background: none;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  padding: 1px 4px;
  display: block;
}

input.fbsmp-plugin-icon-button:hover {
  background: url(images/button.gif) repeat-x scroll 0 0 #DDDDDD;
  border-color: #BBBBBB #BBBBBB #999999;
}

/* Link plugin */
.fbsmp-link-thumbnail {
  float: left;
  margin-right: 0.5em;
}

.fbsmp-link-images {
  float: left;
  padding: 0 1em 1em 0;
}

.fbsmp-link-details-wrapper {
  /* display: table-cell; */
}

.fbsmp-link-details-wrapper textarea {
  width: 97%;
}

#edit-fbsmp-link-no-thumbnail-wrapper {
  float: right;
}

.fbsmp-inner-expanded .form-item label {
  display: inline;
}

.fbsmp-link-url-field-processed {
  color: #999999;
}

.fbsmp-link-title-text-editable, .fbsmp-link-description-text-editable {
  text-align: left;
  direction: ltr;
  max-width: 400px;
  /* display: inline-block; */
}

.fbsmp-link-title-text-editable:hover, .fbsmp-link-description-text-editable:hover {
  background-color: #ffffa0;
}

.fbsmp-link-chars {
  padding-left: 0.5em;
}

.fbsmp-link-description {
  color: #999999;
}

.fbsmp-link-title {
  font-size: 1.5em;
  line-height: 1.5em;
}

/* SlideShare plugin */
#edit-fbsmp-slideshare-title-wrapper {
  margin-bottom: 5px;  
}

#edit-fbsmp-slideshare-title-wrapper label {
  float: left;
  margin-right: 2px;  
}