/* $Id: fivecol_5x20.css,v 1.1.2.3 2009/10/26 00:24:22 jmburnz Exp $ */
/* adaptivethemes.com */

.at-panel div.block,.at-panel div.panel-pane{padding:0 10px;}
.at-panel{clear:both;}
.at-panel .panel-panel{display:inline;position:relative;float:left;}
.fivecol-5x20 .panel-panel{width:20%;}
.fivecol-5x20 .panel-col-five{width:19.75%;}
