/* $Id: panels-style.css,v 1.1.2.1 2010/02/17 01:09:46 merlinofchaos Exp $ */
body form#panels-stylizer-list-styles-form {
  margin: 0 0 20px 0;
}

#panels-stylizer-list-styles-form .form-item {
  padding-right: 1em; /* LTR */
  float: left; /* LTR */
  margin-top: 0;
  margin-bottom: 0;
}

#panels-stylizer-list-styles {
  width: 100%;
}

#edit-order-wrapper {
  clear: left; /* LTR */
}

#edit-style-apply,
#edit-style-reset {
  margin-top: 1.65em;
  float: left; /* LTR */
}

#panels-stylizer-list-styles tr.panels-stylizer-disabled {
  color: #999;
}
